%p#notice= notice

%p
  %b Name:
  = @list.name
%p
  %b Description:
  = @list.description
%p
  %b Created by:
  = @list.created_by
%p
  %b Permissions:
  = @list.permissions

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
