= display_search_boxes('academic_commons')

.row-fluid
  .landing_main.span8
    .title Academic Commons

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Search over 10,000 documents in Columbia University's digital repository, where faculty, students, and staff of Columbia and its affiliate institutions can deposit the results of their scholarly work and research.
    %ul
      %li For content by department: Try #{link_to 'Browse Academic Commons Content', 'http://academiccommons.columbia.edu/catalog/browse/departments'}
      %li For content by subject: Try #{link_to 'Academic Commons Content by Subject', 'http://academiccommons.columbia.edu/catalog/browse/subjects'}

  .landing_side.span4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/academic-commons-guide/", :target => "_blank"
          %li.divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Academic Commons Home", "http://academiccommons.columbia.edu"
          %li= link_to "Self Deposit Page", "http://academiccommons.columbia.edu/deposit"
          %li= link_to "Frequently Asked Questions", "http://support.academiccommons.columbia.edu/"
