= display_search_boxes('articles')

.row
  .landing_main.col-md-8

    .title Articles

    = render partial: '/datasource_warning', locals: {warning: warning}


    %p Searches a large database of mostly full-text journal articles.

    %p For scholarly articles in the:
    %ul
      %li Humanities and Social Sciences, try #{link_to 'Ebscohost Research Databases', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6329559'} or #{link_to 'ProQuest', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio8557099'}
      %li Sciences, try #{link_to 'Web of Science', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio2054244'} or #{link_to 'Scopus', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6273999'}
      %li 18<sup>th</sup> and 19<sup>th</sup> centuries, try #{link_to 'American Periodicals', 'http://www.columbia.edu/cgi-bin/cul/resolve?ARS2786'} or #{link_to 'British Periodicals', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6022732'}

    %p Use #{datasource_switch_link('Databases', 'databases')} to browse all of our databases by subject.

    %p To see a list of resources by subject, consult our subject guides.

  .landing_side.col-md-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/articles-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Legacy Resource
          %li= link_to "Find Articles", "http://www.columbia.edu/cgi-bin/cul/resolve?findarticleslegacy"

          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "Google Scholar", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5119262"
          %li=link_to "PMID Search", "http://www.columbia.edu/cgi-bin/cul/resolve?clio4373446"
          %li=link_to "DOI Search", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0049"
          %li=link_to "arXiv ID Search", "http://arxiv.org/"
          %li=link_to "Citation Finder", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0049"
