.landing_main
  .title Article Search

  %p Articles search will perform a search of Summon for 

  %ul
    %li journal articles
    %li eBooks
    %li newspapers
    %li dissertations
    %li other electronic resources

.landing_side
  .landing_side_inner
    %h3 Other Resources

    .item
      .note In case you can't find what you're looking for through Summon, try:

    .item= link_to "EBSCOhost Databases", "http://www.columbia.edu/cgi-bin/cul/resolve?clio6329559"

    .item
      = link_to "ProQuest", "http://www.columbia.edu/cgi-bin/cul/resolve?clio8557099"

    .item
      = link_to "Scopus", "http://www.columbia.edu/cgi-bin/cul/resolve?clio6273999"
    .item
      = link_to "Google Scholar", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5119262"

    .item
      = link_to "Subject Guides", "http://wwwapp.cc.columbia.edu/ldpd/rti/results?hl=1&ps=1&sb=1&ss=0&hpp=100000&hk=-1&rt=sg&qt=6&q="
