= display_search_boxes('dcv')

.row
  .landing_main.col-sm-8
    .title DCV

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p digital collection viewer.
    -# %ul
    -#   %li For content by department: Try #{link_to 'Browse Academic Commons Content', 'http://academiccommons.columbia.edu/catalog/browse/departments'}
    -#   %li For content by subject: Try #{link_to 'Academic Commons Content by Subject', 'http://academiccommons.columbia.edu/catalog/browse/subjects'}

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        -# %ul.nav.nav-list
        -#   %li.nav-header Guide
        -#   %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/dcv-guide/", :target => "_blank"
        -#   %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "dcv home", "http://dcv.cul.columbia.edu"
