%p We welcome your feedback!  We will be working rapidly to improve CLIObeta in the coming months, so please use the Feedback button at right to submit comments or suggestions, or to notify us of errors in your search results.

%p Learn more about CLIObeta on our #{link_to "blog", "https://blogs.cul.columbia.edu/cliobeta/"} where we have posted #{link_to "Frequently Asked Questions", "https://blogs.cul.columbia.edu/cliobeta/faq"}, #{link_to "Suggestions", "https://blogs.cul.columbia.edu/cliobeta/suggestions"}, #{link_to "Known Issues", "https://blogs.cul.columbia.edu/cliobeta/known-issues/"}, and #{link_to "Release Notes", "https://blogs.cul.columbia.edu/cliobeta/release-notes/"}.
