= display_search_boxes('journals')

.row-fluid
  .landing_main.span8
    .title E-Journal Titles

    %p Search e-journal titles and descriptions.

    %p If you don't find the e-journal you need, try a journal title search in the #{datasource_switch_link('Catalog', 'catalog')}.

    %p To find journal articles by title or subject, try our #{datasource_switch_link('Articles', 'articles')} search or #{link_to 'Google Scholar', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio5119262'}.

  .landing_side.span4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/ejournals-guide/", :target => "_blank"
          %li.divider

        %ul.nav.nav-list
          %li.nav-header Legacy Resource
          %li= link_to "E-Journal Portal", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0195"

          %li.divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Google Scholar", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5119262"
          %li= link_to "Citation Finder", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0049"

