= display_search_boxes('quicksearch')

.row-fluid
  .landing_main.span8
    .title Quicksearch

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Quicksearch performs a combined search of:
    %ul
      %li #{datasource_switch_link('Catalog', 'catalog')} (books, journals, online resources, videos, and more)
      %li #{datasource_switch_link('Articles', 'articles')} (journal articles, e-books, dissertations, and more)
      %li #{datasource_switch_link('Academic Commons', 'academic_commons')} (digital repository of Columbia research)
      %li #{datasource_switch_link('Libraries Website', 'library_web')}

  .landing_side.span4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/quicksearch-guide/", :target => "_blank"
          %li.divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "CLIO News ", "https://blogs.cul.columbia.edu/cliobeta/"
