- form_for @location do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :found_in
    %br
    = f.text_area :found_in
  %p
    = f.label :library_id
    %br
    = f.text_field :library_id
  %p
    = f.label :category
    %br
    = f.select(:category, Location::CATEGORIES)
  %p
    = f.submit
