- form_for @location do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :found_in
    %br
    = f.text_area :found_in
  %p
    = f.label :library_id
    %br
    = f.text_field :library_id
  %p
    = f.label :has_info
    %br
    = f.check_box :has_info
  %p
    = f.submit
