- @page_title = "Locations"

%table
  %tr
    %th Name
    %th Found in
    %th Library
    %th Has info
  - for location in @locations
    %tr
      %td= h location.name
      %td= h location.found_in
      %td= h location.library_id
      %td= h location.has_info
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Location", new_location_path
