
= add_row('Subtitle', document.get("subtitle_display"),:abbreviate => 100)
= add_row('Author', document.get("author_display"))
= add_row('Published', document.get("full_publisher_display"))
- unless (urls =  online_link_hash(document)).empty?
  - non_circ = image_tag("icons/noncirc.png", :class => :availability)
  - urls = urls.collect { |link| non_circ + link_to(link.first.abbreviate(60), link.last) }
  - urls = urls.first if controller.controller_name == "search"
  = add_row('Online', urls)


- unless (locations = document["location_call_number_id_display"].listify.reject { |l| l.match(/^Online/) }).empty?
  .row
    .label Location
    .value 
      - locations = locations.first.listify if controller.controller_name == "search"
      - locations.each do |location|
        - loc_display, hold_id = location.split('|DELIM|')
        - holdings_id = "holding_" + hold_id.to_s
        %div
          = image_tag("icons/unknown.png", :class => "availability " + holdings_id) + edit_loc_display(loc_display)


-#      - locations.each_with_index do |location, i|
-#        - holdings_id = "holding_" + (document["location_holdings_id_display"].listify[i] ||  document["location_holdings_id_display"].first).to_s if document["location_holdings_id_display"]
-#        %div
-#          = image_tag("icons/unknown.png", :class => "availability " + holdings_id) +  shorten_location(location).strip + " -- " + document["location_call_number_display"].listify[i]

= add_row('Format', formats_with_icons(document))
