-# CALLED TO DISPLAY AN INDIVIDUAL BIB IN STANDARD SEARCH RESULTS

- if session[:search][:adv] && session[:search][:adv].values.index{ |x| x["field"] == "series_title"  }
  = add_row('Series Title', document.get("title_series_display"), :html_safe => false)

= add_row('Title', document.get("title_vern_display"), :html_safe => false)

= add_row('Author', [document.get("author_display"),document.get("author_vern_display")].compact, :html_safe => false)
= add_row('Published', document.get("full_publisher_display"), :html_safe => false)
= add_row('Online', format_online_results(online_link_hash(document)))


- unless (locations = document["location_call_number_id_display"].listify.reject { |l| l.match(/^Online/) }).empty?
  = add_row("Location", format_location_results(locations, document))


= add_row('Format', formats_with_icons(document))


- if @debug_mode  && @response && @response['debug'] && @response['debug']['explain'] && (score = @response['debug']['explain'][document.get('id').to_s])
  = add_row('Score', score.gsub(/\n/,"").gsub(/\=.+$/,""), :expand_to => content_tag(:pre, score))

