- clio_id = h(document["clio_id_display"].to_s)

.holdings.well{:data => {'ga-action' => 'Item Detail Click'} }

  %h5 Available from:

  = render "/_formats/clio/catalog_show_holdings_online" , :online_links => online_link_hash(document), :is_database => (document['source_display'].include? "database")

  -# NEXT-113 - Do not make api request for online-only resources
  -# NEXT-961 - Incorporate Law records into CLIO
  - if has_loadable_holdings?(document)
    = render "/_formats/clio/catalog_show_holdings_display", :clio_id => clio_id

  -# NEXT-961 - Incorporate Law records into CLIO
  - if in_pegasus?(document)
    = render "/_formats/clio/catalog_show_holdings_pegasus", :document => document

  = render "/_formats/clio/catalog_show_holdings_google", :document => document

  = render "/_formats/clio/catalog_show_holdings_hathi", :document => document

  -# expand vertical height of div.holdings to encompass the 
  -# ajax-loaded floating book-jacket.
  .clear-both
