
= add_row('Title', document.get("title_vern_display"),:abbreviate => 100)
= add_row('Subtitle', [document.get("subtitle_display"),document.get("subtitle_vern_display")].compact,:abbreviate => 100)
= add_row('Author', [document.get("author_display"),document.get("author_vern_display")].compact)
= add_row('Published', document.get("full_publisher_display"))
- is_aggregate = controller.controller_name == "search" 
= add_row('Online', format_online_results(online_link_hash(document)), :expand => is_aggregate)


- unless (locations = document["location_call_number_id_display"].listify.reject { |l| l.match(/^Online/) }).empty?
  = add_row("Location", format_location_results(locations, document), :expand => is_aggregate)


= add_row('Format', formats_with_icons(document))
