- clio_id = h(document["clio_id_display"].to_s)

.holdings
  %h5 Available from:


  = render "/_formats/clio/catalog_show_holdings_online" , :online_links => online_link_hash(document)

  -# NEXT-113 - Do not make api request for online-only resources
  -# NEXT-961 - Incorporate Law records into CLIO
  - if has_loadable_holdings?(document)
    = render "/_formats/clio/catalog_show_holdings_display", :clio_id => clio_id

  -# NEXT-961 - Incorporate Law records into CLIO
  - if in_pegasus?(document)
    = render "/_formats/clio/catalog_show_holdings_pegasus", :document => document

  = render "/_formats/clio/catalog_show_holdings_google", :document => document

  = render "/_formats/clio/catalog_show_holdings_hathi", :document => document
