- clio_id = h(document["clio_id_display"].first.to_s)
- holdings = retrieve_holdings(document) 

.holdings
  .header
    .title Holdings:
    .location_guide=link_to "(Location Guide)", "http://library.columbia.edu/help/clio/location_guide.html"

  - if holdings.empty?
    No holdings data at this time.
  - else

    - content_for :jstemplates do
      :javascript
        $(document).ready(function() {
          $(".location_display").colorbox({transition:'none',scrolling:false});
        });
    - online_links = online_link_hash(document)
   
    - holdings << {:location_link => "Online", :location_name => "Online"} if !holdings.detect { |h| h[:location_name].strip == "Online"} && !online_links.empty?

    - holdings.each do |entry|

      .holding{:class => alternating_line}
        .location= entry[:location_link]
        .call_number= entry[:call_number]
        .hours= entry[:hours]

        - if entry[:location_name].strip == "Online"
          - online_links.each do |link|
            - title, url = link
            .url_link
              = image_tag("icons/online.png")
              = link_to title, url

        - else
          - entry[:copies].each do |copy|
            .group
              - unless copy[:temp_locations].nil?
                - copy[:temp_locations].each do |t|
                  .message= t
              - [:orders,:summary_holdings,:supplements,:indexes,:notes,:reproduction_note,:current_issues].each do |type|
                - unless copy[type].nil?
                  .message= copy[type]
              - copy[:items].each_pair do |message, details|
                .status
                  = details[:image_link]
                  = message
                  - if details[:count] >1
                    (#{details[:count]} copies)
          - if !entry[:services].empty?
            .services
              .label= "Requests: "
              - if entry[:services].include?('offsite')
                .service= link_to "Offsite", "http://www.columbia.edu/cgi-bin/cul/offsite2?#{clio_id}", :target => "_blank"
              - if entry[:services].include?('precat')
                .service= link_to "Precataloging", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/precat?#{clio_id}", :target => "_blank"
              - if entry[:services].include?('recall_hold')
                .service= link_to "Recall/Hold", "http://clio.cul.columbia.edu:7018/vwebv/patronRequests?bibId=#{clio_id}", :target => "_blank"
              - if entry[:services].include?('borrow_direct')
                .service= link_to "Borrow Direct", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0012", :target => "_blank"
              - if entry[:services].include?('ill')
                .service= link_to "ILL", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/illiad?#{clio_id}", :target => "_blank"
              - if entry[:services].include?('in_process')
                .service= link_to "In Process / On Order", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/inprocess?#{clio_id}", :target => "_blank"
