- holdings = condense_holdings(Voyager::Holdings::Collection.new_from_opac(document["id"].first))

.holdings
  .header
    .title Holdings:
    .location_guide=link_to "(Location Guide)", "http://www.columbia.edu/cu/lweb/help/clio/location_guide.html"


  - if holdings.empty?
    No holdings data at this time.
  - else

    -content_for :jstemplates do
      :javascript
        $(document).ready(function() {
          $(".location_display").colorbox({transition:'none',scrolling:false});
        });

    - holdings.each do |entry|
      .holding{:class => alternating_line}
        .location
          = entry[:location_link]
        .call_number=entry[:call_number]
        .hours= entry[:hours]
        - entry[:items].each_pair do |messages, details|
          .status
            = details[:image_link]
            = messages.join(", ")
            - if details[:count] >1
              (#{details[:count]} copies)

        -#.status=
          -#- if record.location_name.strip == "Online"
            -#- online_link_hash(document).each do |link|
              -#- title, url = link
              -#%div= link_to title.abbreviate(60), url
          -#- elsif !record.item_status[:messages].empty?
            -##{record.item_status[:messages].join("<br/>")}
