
/ _formats/clio/_catalog_list_details.html.haml

-# CONTROLS HOW CATALOG RECORDS SHOW IN SEARCH RESULTS LIST
-# Overloaded - also used for Call Number Browse - needs additional params:
-# show_title - show regular title_display as a metadata field?
- show_title ||= false

-# Show the series title if we searched by series title
- if search_by_series_title(request.params)
  = add_row('Series', document.fetch('title_series_display', nil), :html_safe => false)

- if show_title
  = add_row('Title', document.fetch('title_display', nil), :html_safe => false)

= add_row('Title', document.fetch('title_vern_display', nil), :html_safe => false)

= add_row('Author', [document.fetch('author_display', nil),document.fetch('author_vern_display', nil)].compact, :html_safe => false)
= add_row('Published', document.fetch('full_publisher_display', nil), :html_safe => false)
= add_row('Online', format_online_results(online_link_hash(document)))


- unless (locations = document["location_call_number_id_display"].listify.reject { |l| l.match(/^Online/) }).empty?
  = add_row("Location", format_brief_location_results(locations, document))

- if APP_CONFIG['hathi_search_results_links']
  = add_row('HathiTrust', format_hathi_search_result_link(document))

-# - raise
= add_row('Format', formats_with_icons(document))

- if ['development', 'clio_dev'].include?(Rails.env)
  -# = add_row('testing', 'a b c d')
  -# - lap = (Time.now - Time.now.beginning_of_minute).to_f.round(3).to_s
  -# = add_row('stopwatch', lap)
  -# -#   = add_row('Traject Format', document['traject_format_facet'], join: ', ')
  -# -#   = add_row('U.Mich Format', document['umich_format_facet'], join: ', ')
  -# -#   = add_row('U.Mich Type', document['umich_type_facet'], join: ', ')

- if @debug_mode  && @response && @response['debug'] && @response['debug']['explain'] && (score = @response['debug']['explain'][document.fetch('id', nil).to_s])
  = add_row('Score', score.gsub(/\n/,"").gsub(/\=.+$/,""))
  

