#show_cover.gbs_cover
  .holding
    - isbns = extract_google_bibkeys(document).listify.collect { |i| "id_" + i.to_s.gsub(':','')}.join(" ")
    %img.bookjacket{:class => isbns, :src => image_path("spacer.png")}
    .google_title Google Books
    .gbs_info
      =link_to "More info at Google books", "http://books.google.com", :class => "gbs_info_link", :target => "_blank"
    .gbs_preview
      =link_to image_tag("gb_preview.png"), "#", :alt => "Gb_preview", :class => "gbs_preview_link", :target => "_blank"
      .gbs_preview_partial
        =link_to "Partial View", "#", :class => "gbs_preview_link", :target => "_blank"
      .gbs_preview_full
        =link_to "Full View", "#", :class => "gbs_preview_link", :target => "_blank"
      = form_tag('http://far.away.com/form', :authenticity_token => false, :class => 'gbs_search_form', :method => :get) do
        = text_field_tag 'q', nil, :placeholder => "Search in this book"
        = hidden_field_tag 'id', ''
        = hidden_field_tag 'printsec', 'frontcover'
        = hidden_field_tag 'source', 'gbs_ViewAPI'
        = submit_tag 'Search'
