#show_folder_control.documentFunctions= render :partial => "folder_control",  :locals => {:document => @document}
- clio_id = h(document["clio_id_display"].first.to_s)
- id = document.get("id")
.show_cover.book_cover
  .gbs_cover
    .gbs_thumbnail
      = image_tag("spacer.png", :class => "bookjacket " + document["isbn_display"].listify.collect { |x| "id_" + x.to_s}.join(" "))
    .gbs_preview= link_to image_tag("gb_preview.png"), "http://books.google.com", :class => "gbs_preview_link"

- if clio_id
  %p= link_to "Display in CLIO",url_for("http://clio.cul.columbia.edu:7018/vwebv/holdingsInfo?bibId=#{clio_id}")


%h4 Place Request:
%ul
  %li= link_to "Place a Recall/Hold", "http://clio.cul.columbia.edu:7018/vwebv/patronRequests?bibId=#{clio_id}"
  %li= link_to "Borrow Direct", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0012"
  %li= link_to "ILL", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/illiad?#{clio_id}"
  %li= link_to "Document Delivery", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/docdel?#{clio_id}"
  %li= link_to "Inter-Campus Delivery", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0013"
  %li= link_to "In-Process / On Order", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/inprocess?#{clio_id}"
  %li= link_to "Precataloging", "https://www1.columbia.edu/sec-cgi-bin/cul/forms/precat?#{clio_id}"
  - if HTTPClient.new.get_content("http://www.columbia.edu/cgi-bin/cul/lookupNBX?" + clio_id) == "1"
    %li= link_to "Off-site request", "http://www.columbia.edu/cgi-bin/cul/offsite2?#{h(document['clio_id_display'])}"
%h4 Actions:
%ul

  %li #{link_to "Print", "javascript:print()"}
  /- if @document.export_formats.keys.include?(:refworks_marc_txt)
  /  %li.refworks
  /    =link_to "Export to RefWorks", refworks_export_url(@document)
  - if @document.export_formats.keys.include?(:endnote)
    %li.endnote
      =link_to "Export to EndNote", catalog_path(id, :format => "endnote")

  - if @document.respond_to?(:to_marc)
    %li.email
      =link_to "Email This", email_catalog_path(:id => id), {:id => "emailLink", :name => "email", :class => "lightboxLink"}

    %li.sms
      =link_to "SMS This", sms_catalog_path(:id => id), {:id => "smsLink", :name => "sms", :class => "lightboxLink"}
    %li.librarian_view
      =link_to "Librarian View", librarian_view_catalog_path(id), {:id => "librarianLink", :name => "librarian_view", :class => "lightboxLink" }
    %li.gbs_info= link_to "More Info at Google Books", "http://books.google.com", :class => "gbs_info_link"

%h4 Help:
%ul
  %li= link_to "Ask a Librarian", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031"
  %li= link_to "Item Not On Shelf?", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0055"
  %li= link_to "E-Resource Problem", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0006"
  %li= link_to "Recommend A Title", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0004"
