// _formats/clio/_catalog_show_holdings.html.haml

-# _catalog_show_holdings.html.haml

-# - clio_id = h(document["clio_id_display"].to_s)
- clio_id = document.fetch('id', nil)

.holdings.well{:data => {'ga-action' => 'Item Detail Click'} }

  -# NEXT-1689 - relabel for clarity
  -# .holdings_title Available from:
  .holdings_title Location

  -# ONLINE HOLDINGS
  = render "/_formats/clio/catalog_show_holdings_online", online_links: online_link_hash(document), is_database: document.is_database?

  -# PHYSICAL HOLDINGS
  - if @holdings
    -# Render holdings based on hash built from Solr MARC
    = render "/_formats/clio/catalog_show_holdings_clio", document: document, holdings: @holdings
    -# = render '/backend/holdings', holdings: @holdings
  - else
    -# LEGACY - call CLIO Backend via AJAX for holdings
    -# (only if 'loadable' - skip Law, skip Online-only)
    - if has_loadable_holdings?(document)
      = render "/_formats/clio/catalog_show_holdings_display", clio_id: clio_id

  -# LAW HOLDINGS (NEXT-961)
  - if document.in_pegasus?
    = render "/_formats/clio/catalog_show_holdings_pegasus", document: document

  -# SIMPLYE HOLDINGS
  - if document.simplye_link
    = render "/_formats/clio/catalog_show_holdings_simplye", document: document

  -# EBOOK HOLDINGS
  - if APP_CONFIG['show_ebook_links']
    = render "/_formats/clio/catalog_show_holdings_ebook", clio_id: clio_id

  -# GOOGLE HOLDINGS
  = render "/_formats/clio/catalog_show_holdings_google", document: document

  -# HATHI HOLDINGS
  -# Skip for public-domain HathiTrust records we've loaded
  - unless document.hathi_public_domain?
    = render "/_formats/clio/catalog_show_holdings_hathi", clio_id: clio_id

  -# WORLDCAT LINK
  - if APP_CONFIG['show_worldcat_links'] && (worldcat_link = worldcat_link(document)).present?
    = render "/_formats/clio/catalog_show_worldcat_link", worldcat_link: worldcat_link

  -# expand vertical height of div.holdings to encompass the 
  -# ajax-loaded floating book-jacket.
  .clear-both
