
-# _catalog_show_holdings.html.haml

- clio_id = h(document["clio_id_display"].to_s)

.holdings.well{:data => {'ga-action' => 'Item Detail Click'} }

  %h5 Available from:

  -# ONLINE HOLDINGS
  = render "/_formats/clio/catalog_show_holdings_online", online_links: online_link_hash(document), is_database: document.is_database?

  -# PHYSICAL HOLDINGS
  - if @holdings
    -# Render holdings based on hash built from Solr MARC
    = render "/_formats/clio/catalog_show_holdings_clio", document: document, holdings: @holdings
    -# = render '/backend/holdings', holdings: @holdings
  - else
    -# LEGACY - call CLIO Backend via AJAX for holdings
    -# (only if 'loadable' - skip Law, skip Online-only)
    - if has_loadable_holdings?(document)
      = render "/_formats/clio/catalog_show_holdings_display", clio_id: clio_id

  -# LAW HOLDINGS (NEXT-961)
  - if document.in_pegasus?
    = render "/_formats/clio/catalog_show_holdings_pegasus", document: document

  -# GOOGLE HOLDINGS
  = render "/_formats/clio/catalog_show_holdings_google", document: document

  -# HATHI HOLDINGS
  = render "/_formats/clio/catalog_show_holdings_hathi", clio_id: clio_id


  -# expand vertical height of div.holdings to encompass the 
  -# ajax-loaded floating book-jacket.
  .clear-both
