
-# TOOLBAR FOR ITEM DETAIL PAGE FOR CATALOG-BASED DATASOURCES

-# - clio_id = h(document["clio_id_display"].to_s)
- clio_id = document.fetch('id', nil)

%nav#show_toolbar.navbar.navbar-default

  .container-fluid

    .navbar-header

      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#show-toolbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar


      - link_back = fix_catalog_links(build_link_back(clio_id)).html_safe

      -# if we're unable to build a link_back, then we've lost our search context,
      -# don't show "Back to Search", or Next/Prev links - they would be invalid/broken.
      - if link_back && (@previous_document || @next_document)
        #search_info.navbar-text
          -# If you want any links to be never collapsed, 
          -# put them here
          -# - raise
          %span.back_to_results.hidden-xs
            = link_back
            |

          -# On small devices, switch to button - awkward to do, given
          -# the Blacklight interface
          - mobile_button = '<span class="btn btn-default glyphicon glyphicon-list-alt"></span>'
          - label = t('blacklight.back_to_search')
          - link_back_button = link_back.gsub(/#{label}/, mobile_button).html_safe
          %span.back_to_results.visible-xs-inline= link_back_button

          &nbsp; 

          - prev_doc = fix_catalog_links(link_to_previous_document_and_action(@previous_document))
          = "#{prev_doc}".html_safe if prev_doc.include?("<a")

          = item_page_entry_info.gsub("Showing item ", "#").gsub(" from your search.","").html_safe

          - next_doc = fix_catalog_links(link_to_next_document_and_action(@next_document)	)
          = "#{next_doc}".html_safe if next_doc.include?("<a")



    #show-toolbar-collapse.collapse.navbar-collapse
  
      %ul.nav.navbar-nav
        %li=link_to "Print", "javascript:print()"
        %li=link_to "Email", email_solr_document_path(id: clio_id), {id: "emailLink", name: "email", class: "lightboxLink"}
  
        -# NEXT-1984 - Remove Send to Phone  
        -# %li=link_to "Send to Phone", "#", :onclick => "OpenTextMessage(#{clio_id}); return false;"

        -# - if Rails.env != 'clio_prod'
        -#   %li=link_to "BL SMS", sms_solr_document_path(id: clio_id), {:id => "smsLink", :name => "sms", :class => "lightboxLink"}
  
        -# %li=link_to "Save to #{SavedList::DEFAULT_LIST_NAME}", "/lists/add/#{id}"
        -# %li= link_to "Save to #{SavedList::DEFAULT_LIST_NAME}", "#", :onclick => "saveBibToNamedList(#{id}, '#{SavedList::DEFAULT_LIST_NAME}'); return false;"
        -# AJAXY 
        -# %li= link_to "Add to My Saved List", "#", :onclick => "saveBibToNamedList(#{id}, '#{SavedList::DEFAULT_LIST_NAME}'); return false;"
        -# Non-AJAXy, class will attach JS onclick to redirect to /list/add...
        %li= link_to "Add to My Saved List", "#", class: 'saved_list_add', data: {identifier: clio_id}
        
  
        %li.dropdown
          =link_to "Export <span class='caret'></span>".html_safe, "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown"
          %ul.dropdown-menu
            - any_cites = false
  
            /- if @document.export_formats.keys.include?(:refworks_marc_txt)
            /  -any_cites = true
            /  %li=link_to "Export to RefWorks", refworks_export_url(@document)
            - if document.export_formats.keys.include?(:endnote)
              -any_cites = true
              %li=link_to "Export Citation", solr_document_path(clio_id, :format => "endnote")
  
            - unless any_cites
              %li=link_to "No citations available", "#"
  
        %li.dropdown
          =link_to "Display In <span class='caret'></span>".html_safe, "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown"
          %ul.dropdown-menu
            - if @document.respond_to?(:to_marc)
              %li= link_to "MARC View", fix_catalog_links(librarian_view_solr_document_path(clio_id)), {:id => "librarianLink", :name => "librarian_view" }
  
        %li.dropdown
          =link_to "Request <span class='caret'></span>".html_safe, "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown"
          %ul.dropdown-menu
            %li= link_to "Borrow Direct", "#{borrow_direct_link}#{clio_id}", target: "_blank"
            %li= link_to "Place a Recall", "#{recall_link}#{clio_id}", target: "_blank"
            %li= link_to "ILL", "#{ill_scan_link}#{clio_id}", target: "_blank"
            %li= link_to "Scan & Deliver", "#{campus_scan_link}#{clio_id}", target: "_blank"
            -# %li= link_to "In-Process / On Order", "#", onclick: "OpenInprocessRequest('#{clio_id}'); return false;"
            %li= link_to "In-Process / On Order", "#", onclick: "OpenURLinWindow('#{clio_id}', '#{in_process_link()}'); return false;"
            %li= link_to 'Precataloging', '#', onclick: "OpenURLinWindow('#{clio_id}', '#{precat_link()}'); return false;"
            %li= link_to "Item Feedback", "#", onclick: "OpenURLinWindow('#{clio_id}', '#{item_feedback_link()}'); return false;"
            %li= link_to "Item Not On Shelf?", "#", onclick: "OpenSearchRequest('#{clio_id}'); return false;"




        -# %ul.nav.navbar-nav.navbar-right
        .navbar-text
          .start_over
            = link_to "Start Over", catalog_index_path
    



