
/ _formats/clio/_compact_list_item.html.haml
/ container for a SINGLE doc

-# maybe handy to have a per-item anchor?
-# %a{name: document.get(:id)}

.boxed_search_results.result.document{:class => ("database_record" if document.is_database?), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row

    .col-sm-4.no-bottom-space
      = render '/coins', document: document
      
      .item_anchor
        = render '/saved_lists/item_select_checkbox', item_id: document[:id], counter: counter

      .item_select_allowance
        %b= link_to_source_document document, :label=> document.get('title_display').abbreviate(100), :counter => counter

    .col-sm-3.no-bottom-space= document.get("author_display") || document.get("author_vern_display")

    .col-sm-5.no-bottom-space= document.get("full_publisher_display")

  - cache("compact_list_item_#{document.cache_key}") do
    .row
      .col-sm-7.item_select_allowance.no-bottom-space.small
        = holdings_compact(document)
      .col-sm-5.no-bottom-space.small
        = formats_with_icons(document)
