-# FORMATS/CLIO
-# for search-results listing
-# overloaded for use with call-number browse

-# What to use for our document link label?
-# Usually the title, but if we're browsing by call-number, use the call_number
- link_label = document.get("title_display") || document.get("title_vern_display")
-# - link_label = call_number if local_assigns.has_key? :call_number

- highlight_bib = session[:browse]['bib'] || 0

-# Are we inside the mini-browse?
- mini ||= false

-# And, if we didn't use "title" for the link label, we need to tell
-#  the "details" partial that it needs to show the title, via this:
- show_title = local_assigns.has_key? :call_number



/ _formats/clio/_standard_list_item.html.haml
/ container for a SINGLE doc
- document_class = render_document_class(document)
- focus_class = (document.id == highlight_bib) ? 'browse_focus' : ''
.result.document{class: "#{document_class} #{focus_class}", source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row
    .title.col-sm-9
    

      -# The mini-browser should not have COINS or checkboxes
      - unless mini
        %span.coins_wrapper
          <!-- COinS -->
          %span.Z3988{:title => catalog_to_openurl_ctx_kev(document)}

        .item_anchor
          = render '/saved_lists/item_select_checkbox', item_id: document[:id]

      .item_select_allowance

        -# = render 'browse_focus_bookmark' if document.id == highlight_bib

        -# This is how core Blacklight would do it...
        -# = link_to_document document, :label=>document_show_link_field(document), :counter => counter
        -# Just use the title?
        -# = link_to_source_document document, :label=> document.get('title_display'), :counter => counter, :source => source
        -# Or allow a more flexible link-label, defined above
        = link_to_source_document document, label: link_label, source: source

    .col-sm-3.call_number_tag
      = "[ " + call_number + " ]"


  / main container for doc partial view

  .row

    .details.col-sm-10
      -# = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}
      = render "/_formats/clio/catalog_list_details", document: document, show_title: show_title

    .doc_bookjacket.col-sm-2.hidden-xs
      =image_tag("spacer.png", :class => "list_view bookjacket " + extract_standard_bibkeys(document).listify.collect { |x| "id_" + x.to_s.gsub(':','')}.join(" "))


