
%li.dropdown.menu
  %a.dropdown-toggle.menu(data-toggle="dropdown" href="#")

    - if current_user
      %span.visible-xs
        #{current_user.login}
        %b.caret
      %span.hidden-xs
        #{current_user.name} (#{current_user.login})
        %b.caret
    - else
      %span
        Log in to...
        %b.caret

  %ul.dropdown-menu.menu-dropdown
    %li= link_to "My Library Account", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087-1", :target => "_blank"
    %li= link_to "My Saved Lists", lists_path
    %li= link_to "My CLIO", new_user_session_path
    %li= link_to "CLIO Legacy Saved Lists", "http://clio.cul.columbia.edu:7018/vwebv/myList", :target => "_blank"
    - if current_user
      %li.nav-divider
      - if current_user.has_role?('site', 'admin')
        %li= link_to "CLIO Preferences", destroy_user_session_path, :method => :delete
      %li= link_to "Logout", destroy_user_session_path, :method => :delete



