
%li.dropdown.menu
  %a.dropdown-toggle.menu(data-toggle="dropdown" href="#")

    - if current_user
      %span.visible-xs
        #{current_user.uid}
        %b.caret
      %span.hidden-xs
        #{current_user.name} (#{current_user.uid})
        %b.caret
    - else
      %span
        Log in to...
        %b.caret

  %ul.dropdown-menu.menu-dropdown
    //%li= link_to "My Borrowing Account", "https://resolver.library.columbia.edu/lweb0087", target: "_blank"
    %li= link_to "My Borrowing Account", my_account_index_path, target: "_blank"
    %li= link_to "My Saved Lists", lists_path
    - if current_user
      %li= link_to "My Checked Out Items", checked_out_items_path
    - else
      %li= link_to "My CLIO", user_saml_omniauth_authorize_path
    - if current_user
      %li.nav-divider
      - if current_user.has_role?('site', 'pilot') || current_user.best_bets_admin?
        %li= link_to "CLIO Best Bets Logs", logs_path(set: 'Best Bets')

      %li= link_to "Logout", destroy_user_session_path



