-# geo

/ _formats/geo/_standard_list_item.html.haml
/ container for a SINGLE doc

.result.document{class: render_document_class(document), source: 'geo', item_id: document.id}

  .row
    .title.col-sm-12

      .item_anchor
        = render '/item_number', :counter => counter

      .item_number_allowance
        = link_to document.fetch('dct_title_s'), APP_CONFIG['geo_catalog_url'] + document.id


  / main container for doc partial view

  .details
    -# - raise
    = add_row('Author(s)', document['dct_creator_sm'])
    = add_row('Description', document['dct_description_sm'])
    = add_row('Publisher', document['dct_publisher_sm'])
    / = add_row('Collection', document['dct_isPartOf_sm'])
    = add_row('Place(s)', document['dct_spatial_sm'])
    = add_row('Subject(s)', document['dct_subject_sm'])
    = add_row('Year', document['dct_temporal_sm'])
    = add_row('Resource Type', document['gbl_resourceType_sm'])
    / = add_row('Held By', document['dct_provenance_s'])





