- if can?(:manage, ItemAlert)
  #show_alert_management

    - if Array.wrap(document["_item_alerts"]).empty?
      %h3 No alerts for this item currently exist.

    - else
      %table.table-striped

        %tr
          %th Alert Type
          %th Author
          %th Duration
          %th Message
        - document["_item_alerts"].each do |alert|
          %tr
            %td= ItemAlert::ALERT_TYPES[alert.alert_type.to_s.to_sym]
            %td= alert.author
            %td= render_alert_duration(alert)
            %td= alert.message

    
    %p The end

    #create_alert
      - item_alert = ItemAlert.new('source' => 'catalog', :author_id => current_user.id, 'item_key' => document.get('id') )
      = render :partial => "/item_alerts/form", :locals => {:item_alert => item_alert}
