-# format=database

/ _formats/database/_catalog_show.html.haml

- cache("catalog_show_format=database_#{document.cache_key}") do

  - marc = document.to_marc

  -# Per 10/1013 NER/Cataloging decision, eliminate the 969 DB Summary field,
  -# use only the standard MARC 520 full summary, below.
  -# = add_row("DB Summary", document.get("database_summary_display"))
  -# Redundant with 'Summary', below
  -# = add_row("Details", document.get("summary_display"))
  = add_row("Author", generate_value_links(display_marc_field(marc, 'author'), :author))
  = add_row("Uniform Title", display_marc_field(marc, 'title_uniform'))
  = add_row("Title", display_marc_field(marc, 'title'))
  = add_row("Edition", display_marc_field(marc, 'edition'))
  = add_row("Published", display_marc_field(marc, 'publish'))
  = add_row("Produced", display_marc_field(marc, 'publish_produce'))
  = add_row("Distributed", display_marc_field(marc, 'publish_distribute'))
  = add_row("Manufactured", display_marc_field(marc, 'publish_manufacture'))
  = add_row("Copyright", display_marc_field(marc, 'publish_copyright'))
  = add_row("Description", display_marc_field(marc, 'description'))
  = add_row("Series", generate_value_links(display_marc_field(marc, 'series'), :series_title))
  = add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
  = add_row("Also Listed Under", generate_value_links(display_marc_field(marc, 'author_other'), :author))
  = add_row("Includes", generate_value_links(display_marc_field(marc, 'contains'), :all))
  = add_row("Summary", display_marc_field(marc, 'summary'))
  = add_row("Contents", display_marc_field(marc, 'contents'))
  = add_row("Other Titles", display_marc_field(marc, 'title_other'))
  = add_row("Notes", display_marc_field(marc, 'notes'))
  = add_row("Credits", display_marc_field(marc, 'credits'))
  = add_row("Language", document["language_facet"], options = {:join => '; '})
  = add_row("Language Note", display_marc_field(marc, 'language'))
  = add_row("LCCN", display_marc_field(marc, 'LCCN'))
  = add_row("Publisher No.", display_marc_field(marc, 'publisher_no'))
  = add_row("ISBN", display_marc_field(marc, 'ISBN'))
  = add_row("ISSN", display_marc_field(marc, 'ISSN'))
  = add_row("Standard No.", display_marc_field(marc, 'standard_no'))
  = add_row('Related To', display_marc_field(marc, 'related_to'))
  = add_row('Format', formats_with_icons(document))
  = add_row('Acquired On', Date.parse(document.get('acq_dt')).to_formatted_s(:long)) if document.get('acq_dt')
  = add_row('Restricted', document.get("database_restrictions_display"))

  -#  The database note/alert display is moved to holdings partial
  -# - if document.get("_item_alerts").kind_of?(Hash)
  -#  - document.get("_item_alerts").each do |alert_type, alerts|
  -#    = add_row(ItemAlert::ALERT_TYPES[alert_type], alerts.select { |alert| alert.active? }.collect(&:message), options = {:html_safe => true})
  -# html_safe true, so that ERC can embed HTML links in their alert msgs

