- marc = document.to_marc

= add_row("DB Summary", document.get("database_summary_display"))
-# Redundant with 'Summary', below
-# = add_row("Details", document.get("summary_display"))
= add_row("Author", generate_value_links(display_marc_field(marc, 'author'), :author))
= add_row("Uniform Title", display_marc_field(marc, 'title_uniform'))
= add_row("Title", display_marc_field(marc, 'title'))
= add_row("Edition", display_marc_field(marc, 'edition'))
= add_row("Published", display_marc_field(marc, 'publisher'))
= add_row("Description", display_marc_field(marc, 'description'))
= add_row("Series", generate_value_links(display_marc_field(marc, 'series'), :all))
= add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
= add_row("Also Listed Under", generate_value_links(display_marc_field(marc, 'author_other'), :author))
= add_row("Summary", display_marc_field(marc, 'summary'))
= add_row("Contents", display_marc_field(marc, 'contents'))
= add_row("Other Titles", display_marc_field(marc, 'title_other'))
= add_row("Notes", display_marc_field(marc, 'notes'))
= add_row("Language", document["language_facet"], options = {:join => '; '})
= add_row("LCCN", display_marc_field(marc, 'LCCN'))
= add_row("Publisher No.", display_marc_field(marc, 'publisher_no'))
= add_row("ISBN", display_marc_field(marc, 'ISBN'))
= add_row("ISSN", display_marc_field(marc, 'ISSN'))
= add_row("Standard No.", display_marc_field(marc, 'standard_no'))
= add_row('Format', formats_with_icons(document))
= add_row('Acquired On', Date.parse(document.get('acq_dt')).to_formatted_s(:long)) if document.get('acq_dt')
= add_row('Restricted', document.get("database_restrictions_display"))

-#  The database note/alert display is moved to holdings partial
-# - if document.get("_item_alerts").kind_of?(Hash)
-#  - document.get("_item_alerts").each do |alert_type, alerts|
-#    = add_row(ItemAlert::ALERT_TYPES[alert_type], alerts.select { |alert| alert.active? }.collect(&:message), options = {:html_safe => true})
-# html_safe true, so that ERC can embed HTML links in their alert msgs

