= display_search_boxes('ac')

.row
  .landing_main.col-sm-8
    .title Academic Commons

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Search Columbia University's institutional repository, which provides open, persistent access to research and scholarship produced by faculty, students, and staff at Columbia and its affiliate institutions.
    %ul
      %li 
        Visit the Academic Commons website:
        &nbsp;
        %strong
          #{link_to 'Academic Commons', 'https://academiccommons.columbia.edu'}

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Academic Commons Home", "https://academiccommons.columbia.edu"
          %li= link_to "Self Deposit Page", "https://academiccommons.columbia.edu/deposit"
          %li= link_to "Frequently Asked Questions", "https://academiccommons.columbia.edu/faq"
