= display_search_boxes('academic_commons')

.row
  .landing_main.col-sm-8
    .title Academic Commons

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Search over 23,000 documents in Columbia University's digital repository, where faculty, students, and staff of Columbia and its affiliate institutions can deposit the results of their scholarly work and research.
    %ul
      %li For content by department: Try #{link_to 'Browse Academic Commons Content', 'http://academiccommons.columbia.edu/catalog/browse/departments'}

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/academic-commons-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Academic Commons Home", "http://academiccommons.columbia.edu"
          %li= link_to "Self Deposit Page", "http://academiccommons.columbia.edu/deposit"
          %li= link_to "Frequently Asked Questions", "https://academiccommons.columbia.edu/faq"
