= display_search_boxes('databases')

.row
  .landing_main.col-sm-8
    .title Databases

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p The Libraries provides access to more than 1,500 databases. Browse by resource type to locate:
    %ul
      %li Archives and manuscripts
      %li Articles, conference papers, dissertations, and theses
      %li E-book collections
      %li Government documents and statistics
      %li Image, sound and video collections
      %li Subject Guides

    %p If you are looking for specific articles, try an #{datasource_switch_link 'Articles', 'articles'} search.


  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Related Links

          %li= link_to "Research Guides",
              "https://resolver.library.columbia.edu/lweb0102"

          %li= link_to "Report E-Resource Problems",
              "https://resolver.library.columbia.edu/lweb0006"

.row
  .landing_across.col-sm-12
    = render :partial => "/_display/databases/a_to_z"

    - database_browse = YAML.load(File.read(Rails.root.to_s + "/config/database_browse.yml"))
    - discipline_codes = database_browse['discipline'].invert
    - resource_codes = database_browse['resource_types'].invert

    .databases_browse_by
      %div
        = form_tag databases_index_path, :method => 'get', :class => 'form-inline' do
          %div
            .browse_label Browse by discipline:
            = select_tag 'f[database_discipline_facet][]', options_for_select(discipline_codes.keys.sort.each  { |k| [k, discipline_codes[k]] }), :prompt => "All Disciplines", class: 'form-control input-sm'

          %div
            .browse_label Browse by resource type:
            = select_tag 'f[database_resource_type_facet][]', options_for_select(resource_codes.keys.sort.each  { |k| [k, resource_codes[k]] }), :prompt => "All Resource Types", class: 'form-control input-sm'

          %div
            .browse_label
            %button.btn.btn-default{:type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Browse
