= display_search_boxes('geo')

.row
  .landing_main.col-sm-8
    .title GeoData

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Search the Columbia University Libraries spatial data collection as well as the collections of several other institutions using geographical constraints.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header GeoData
          %li=link_to "GeoData homepage", "https://geodata.library.columbia.edu/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Columbia GeoSpatial Support
          %li= link_to "Research Data Services", "https://library.columbia.edu/research-teaching/research-data.html"
          %li= link_to "Spatial Data on the Internet", "https://guides.library.columbia.edu/GIS"
          %li= link_to "GIS Software Resources", "https://guides.library.columbia.edu/geotools/home"

