= display_search_boxes('journals')

.row
  .landing_main.col-sm-8
    .title E-Journal Titles

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Search e-journal titles and descriptions.

    %p If you don't find the e-journal you need, try a journal title search in the #{datasource_switch_link('Catalog', 'catalog')}.

    %p To find journal articles by title or subject, try our #{datasource_switch_link('Articles', 'articles')} search.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/ejournals-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Publication Finder", "https://resolver.library.columbia.edu/lweb0195"

