= display_search_boxes('lweb')
.row
  .landing_main.col-sm-8

    .title Libraries Website (Demo)

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Searches the #{link_to("Libraries Website", "http://library.columbia.edu")}, which contains information about Columbia's Libraries, as well as library hours and locations, research help, teaching, and more.


    %ul
      %li For help: #{link_to("Ask a Librarian", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031")}
      %li For a subject librarian: consult the #{link_to("Librarian Subject Specialists", "http://library.columbia.edu/research/subject-specialists.html")}


  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/library-web-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "Libraries Website", "http://library.columbia.edu"
          %li=link_to "Ask a Librarian", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031"
          %li=link_to "Columbia Libraries' Blog", "http://blogs.cul.columbia.edu/spotlights"
          %li=link_to "Libraries' News & Events", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0039"
