= display_search_boxes('quicksearch')

.row
  .landing_main.col-sm-8
    .title Quicksearch

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Quicksearch performs a combined search of:
    %ul
      %li #{datasource_switch_link('Catalog', 'catalog')} (books, journals, online resources, videos, and more)
      %li #{datasource_switch_link('Articles', 'articles')} (journal articles, e-books, dissertations, and more)
      %li #{datasource_switch_link('Academic Commons', 'academic_commons')} (digital repository of Columbia research)
      %li #{datasource_switch_link('Libraries Website', 'library_web')} (Information about the libraries from the Libraries Website)
      %li #{datasource_switch_link('GeoData', 'geo')} (Columbia's catalog of geospatial data sets)

    %br
    %p Quicksearch performs a combined search of:
    %dl.dl-horizontal
      %dt #{datasource_switch_link('Catalog', 'catalog')}
      %dd Books, journals, online resources, videos, and more
      %dt #{datasource_switch_link('Articles', 'articles')}
      %dd Journal articles, e-books, dissertations, and more
      %dt #{datasource_switch_link('Academic Commons', 'academic_commons')}
      %dd Digital repository of Columbia research
      %dt #{datasource_switch_link('Libraries Website', 'library_web')}
      %dd Information about the libraries from the Libraries Website
      %dt #{datasource_switch_link('GeoData', 'geo')}
      %dd Columbia's catalog of geospatial data sets

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/quicksearch-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "CLIO News ", "https://blogs.cul.columbia.edu/clio/"
