.results_header
  .results_link= link_to "(more options)", result[:url]
  .category_title Catalog
  .description
    Library books, videos, local resources
  .search
    - if result[:count] == 0
      No results found.
    - else
      Showing 1 to #{[10, result[:count]].min} of #{result[:count]}
- result[:docs].each_with_index do |document, document_counter|
  = render_document_view(document, :template => "aggregate", :format => "clio",:document_counter => document_counter)

= render :partial => "/catalog/holdings_check", :locals => {:documents => result[:docs]}
