.results_header{:data => {'source' => source}}
  %span{id: 'hits', data: {'source' => base_source(source), 'total' => "#{number_with_delimiter(result.total_items)}"}}
  .category_title
    #{title}
    - if defined?(description)
      %a.source-info.btn.btn-link{:href => '#', :rel => 'popover', :'data-placement' => 'bottom', :'data-content' => description}
        = image_tag('information_icon.png', :size => "20x20")
  .result_count
    - if result && result.total_items.to_i > 0
      - label = title.eql?("Libraries Website") ? 'View' : 'View and filter'
      = link_to "#{label} all <span class='hidden-xs'>#{number_with_delimiter(result.total_items)}</span> results".html_safe, result.search_path
    - else
      %a{href: datasource_landing_page_path(active_source)}
        Explore #{title}
