
%h2 CLIO Format Icons

%h4 Document Content Formats

%table.table

  - DisplayHelper.const_get(:FORMAT_ICON_MAPPINGS).sort.each do |format,icon|
    %tr
      %td= format
      %td= image_tag("icons/#{icon}.png", size: '16x16')
      %td= "#{icon}.png"

%h4 File Formats

%table.table

  - Dir.glob("#{Rails.root.to_s}/app/assets/images/format_icons/*.png") do |filename|
    - filename.sub! /.*format_icons./, ''
    %tr
      %td= image_tag("format_icons/#{filename}", size: '32x32')
      %td= filename
