
-# FACETS FOR ARTICLES DATASOURCE (SUMMON)

#facets.facets.sidenav

  .top-panel-heading.panel-heading.clearfix{style: 'border: 0px;'}
    .visible-xs.facets-toggle{type: 'button', data: {toggle: 'collapse', target: '#facet-panel-collapse'}}
      Refine your search
  
  #facet-panel-collapse.collapse.panel-group
    


    -# PUBLICATION DATE FACET HANDLED SEPARATELY
    -# (it's actually a range-filter, not a facet)

    - pub_range_filter = result.search.query.range_filters.detect { |rf| rf.field_name == "PublicationDate" }
    .panel.panel-default.facet_limit{class: "#{'facet_limit-active' if pub_range_filter}"}
      .collapse-toggle.panel-heading{class: "#{'collapsed' if should_collapse_facet?(pub_range_filter || "pub_range_filter")}", data: {toggle: "collapse", target: "#facet-pub_range_filter", 'facet-tag' => build_facet_tag(pub_range_filter || "pub_range_filter")}}

        %h5.panel-title
          = link_to "Publication Date", "#", :"data-no-turbolink" => true

      .panel-collapse.facet-content{id: "facet-pub_range_filter", class: "#{should_collapse_facet?(pub_range_filter || "pub_range_filter") ? 'collapse' : 'in'}"}
        .panel-body
          - min, max = ['', '']
          - if pub_range_filter
            - min, max = iso2american(pub_range_filter.range)
            %span.selected
              #{pub_range_filter.field_name.titleize}: #{min} to #{max}
            %a.remove{:href => result.summon_search_cmd(pub_range_filter.remove_command)}
              %span.glyphicon.glyphicon-remove

          = form_tag result.summon_search_modify(), :class => 'form-inline range_limit_form' do
            = text_field_tag 'pub_date[min_value]', min, class: "form-control input-mini validate-date-format", maxlength: '10', size: '12', placeholder: 'MM/DD/YYYY'
            #{"-"}
            = text_field_tag 'pub_date[max_value]', max, class: "form-control input-mini validate-date-format", maxlength: '10', size: '12', placeholder: 'MM/DD/YYYY'
            %button.btn.btn-submit{:name => 'submit', :value => 'commit', :type => 'submit'} Limit




    -# LOOP OVER ALL EXPOSED SUMMON FACETS...

    -# "facet" is Summon::Facet from the response object
    - result.facets.reject { |ft| ft.empty?}.each do |facet|

      .panel.panel-default.facet_limit{class: "#{'facet_limit-active' if facet.has_applied_value?}"}
      
        .collapse-toggle.panel-heading{class: "#{'collapsed' if should_collapse_facet?(facet)}", data: {toggle: "collapse", target: "#facet-#{facet.display_name.parameterize}", 'facet-tag' => build_facet_tag(facet)}}
      
          %h5.panel-title
            = link_to facet.display_name.titleize, "#", :"data-no-turbolink" => true
      
        .panel-collapse.facet-content{id: "facet-#{facet.display_name.parameterize}", class: "#{should_collapse_facet?(facet) ? 'collapse' : 'in'}"}
          .panel-body
      
            %ul.facet-values.list-unstyled
              - facet.counts.each do |item|
                %li
                  %span.facet-label
                    - if item.applied?
                      - if item.negated?
                        %span.selected
                          Not #{item.value}
                        %a.remove{:href => result.summon_search_cmd(item.remove_command)}
                          %span.glyphicon.glyphicon-remove
                      - else
                        %span.selected
                          #{item.value}
                        %a.remove{:href => result.summon_search_cmd(item.remove_command)}
                          %span.glyphicon.glyphicon-remove
                    -else
                      %a.facet_select{:href => result.summon_search_cmd(item.apply_command)} #{item.value}
                  %span.facet-count #{number_with_delimiter(item.count)}
              -# Only show the "more..." link if we think there may be more.
              - if facet.counts.size >= facet.src['pageSize']
                %li.more_facets_link
                  %a.more_facets_link{:href => result.summon_facet_cmd(facet.list_values_command)} #{t('blacklight.search.facets.more')}



