.item_show
    
  .info
    .title= document.title
    =add_row("Creator", document.creator)
    =add_row("Source", document.source)
    =add_row("Date", document.date)
    =add_row("ISSN", document.issns.collect { |i| "#{i[:type].to_s.capitalize}: #{i[:value]}"})

    =add_row("Volume", document.volume)
    =add_row("Issue", document.issue)
    =add_row("Page", document.spage)

  .holdings.article
    
    - if document.holdings.empty?
      .holdings_title No holdings are available.
    - else
      .holdings_title Available from:
      -document.holdings.each do |holding|
        .holding
          .resource
            .resource_box= holding[:database_name]
          .links
            = display_article_holdings_links(holding)

    .holdings_title Additional Options:
    .holding.additional
      .resource
        .resource_box
          Search CLIO:
      .links
        = link_to "By Title", catalog_index_path(:q => document.title, 'source_override' => 'catalog')
        = link_to "By ISSN", catalog_index_path(:q => document.issns.first[:value].gsub('-',''), 'source_override' => 'catalog') if document.issns.first
    .holding.additional
      .resource
        .resource_box
          Request it via:
      .links
        = link_to "Interlibrary Loan", generate_ill_link(document)


    .holdings_title.additional Additional Options:
    .holding.additional
      .resource
        .resource_box
          Search CLIO:
      .links
        = link_to "By Title", catalog_index_path(:q => document.title, 'source_override' => 'catalog')
        = link_to "By ISSN", catalog_index_path(:q => document.issns.first[:value].gsub('-',''), 'source_override' => 'catalog') if document.issns.first
    .holding.additional
      .resource
        .resource_box
          Request it via:
      .links
        = link_to "Interlibrary Loan", generate_ill_link(document)
