
/ container for a single doc 
.document.article_list
    
  .title= link_to_article document 

  .details
    = add_row('Author', document.src['Author'], :html_safe => true)
    = add_row('Citation', get_article_citation(document))
    = add_row('Type', document.content_type)
    = add_row('Availability', document.fulltext ? "Full Text Available" : nil)

      
  / main container for doc partial view 

  
