-# video
- marc = document.to_marc
= add_row("Author", generate_value_links(display_marc_field(marc, 'author'), :author))
= add_row("Title", display_marc_field(marc, 'title'))
= add_row("Other Titles", display_marc_field(marc, 'title_other'))
= add_row("Edition", display_marc_field(marc, 'edition'))
= add_row("Published", display_marc_field(marc, 'publisher'))
= add_row("Description", display_marc_field(marc, 'description'))
= add_row("System Details", display_marc_field(marc, 'system_details'))
= add_row("Credits", display_marc_field(marc, 'credits'))
= add_row("Cast", display_marc_field(marc, 'cast'))
= add_row("Language", display_marc_field(marc, 'language'))
= add_row("Contents", display_marc_field(marc, 'contents'))
= add_row("Summary", display_marc_field(marc, 'summary'))
= add_row("Notes", display_marc_field(marc, 'notes_video'))
= add_row("Summary", display_marc_field(marc, 'summary'))
= add_row("Series", generate_value_links(display_marc_field(marc, 'series'), :title))
= add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
= add_row("Medical Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_mesh')))
= add_row("Also Listed Under", generate_value_links(display_marc_field(marc, 'author_other'), :author))
= add_row("LCCN", display_marc_field(marc, 'LCCN'))
= add_row("Publisher No.", display_marc_field(marc, 'publisher_no'))
= add_row("ISBN", display_marc_field(marc, 'ISBN'))
= add_row("ISSN", display_marc_field(marc, 'ISSN'))
= add_row("Standard No.", display_marc_field(marc, 'standard_no'))
= add_row('Format', formats_with_icons(document))
= add_row('Acquired On', Date.parse(document.get('acq_dt')).to_formatted_s(:long)) if document.get('acq_dt')
