<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>
<h1>Selected Items</h1>

<% unless @documents.empty? %>
  <%- # just adding pageEntriedInfo div to get the proper rounded corners at the top -%>
  <div class="pageEntriesInfo"></div>
  <%= render "catalog/sort_and_per_page" %>
  <%= render "catalog/results_pagination" %>
  
  <%= render 'tools' %>  
<% end %>

<div id="documents">  
  <% @documents.each_with_index do |document, i| %>
    <% # container for a single doc -%>
    <div class="document">
      <% # header bar for doc items in index view -%>
      <div class="documentHeader">
        <div class="documentFunctions">          
          <div class="in_folder">
            <%= render :partial=>'catalog/folder_control', :locals=>{:document=>document} %>
          </div>
        </div>  
      
        <h3 class="index_title"><%= i + 1 + @response.params[:start].to_i%>. <%= link_to_source_document document, :label => document_show_link_field, :results_view => false %></h3>
        
              
      </div>
      
	    <%= render_document_partial document, :index %>
    </div>
  
  <% end %>
</div>
