
- documents.each_with_index do |document,counter|
  - blacklight_counter = counter + 1 + @response.params[:start].to_i

  
  .boxed_search_results.result.document{:class => ("database_record" if document['source_display'].include? 'database'), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

    .row

      .col-sm-4.no-bottom-space
        %span.coins_wrapper
          <!-- COinS -->
          %span.Z3988{title: catalog_to_openurl_ctx_kev(document)}
        
        .item_anchor
          = render :partial => '/saved_lists/item_select_checkbox', :locals => {:item_id => document[:id], :counter => blacklight_counter}

        .item_select_allowance
          %b= link_to_source_document document, :label=> document.get('title_display').abbreviate(100), :counter => blacklight_counter

      .col-sm-3.no-bottom-space= document.get("author_display") || document.get("author_vern_display")

      .col-sm-5.no-bottom-space= document.get("full_publisher_display")


    .row
      .col-sm-7.item_select_allowance.no-bottom-space
        %small= holdings_compact(document)
      .col-sm-5.no-bottom-space
        %small= formats_with_icons(document)


