.show
  -#= render 'show_constraints', :localized_params=>session[:search] 
  = render :partial => "_formats/clio/catalog_show_toolbar", :locals => { :document => document }
  .row-fluid

    .title
      %h4= document_heading.listify.join("")
  
    / COinS
    %span.Z3988{ :title => document.export_as_openurl_ctx_kev(document_partial_name(@document)) } 

  .row-fluid
    .info.span6
      = render_document_view(document, :template => "catalog_show", :format => "clio")

    .span6.well
      = render :partial => "_formats/clio/catalog_show_holdings", :locals => {:document => document }
    .clear-both
      = render :partial => "google_books_check", :locals => {:documents => document }

      - if @active_source == "databases" && can?(:manage, ItemAlert)
        = render :partial => "/_formats/database/catalog_manage_alert", :locals => {:document => document }

