.show
  -#= render 'show_constraints', :localized_params=>session[:search]
  = render :partial => "_formats/clio/catalog_show_toolbar", :locals => { :document => document }
  .row-fluid

    .title
      %h4= document_heading.listify.join("")


  .row-fluid
    .info.span6
      / COinS
      %span.Z3988{ :title => document.export_as_openurl_ctx_kev(document_partial_name(@document)) }
      = render_document_view(document, :template => "catalog_show", :format => "clio")

    -# Database Notes and Alerts
    -# html_safe true, so that ERC can embed HTML links in their alert msgs
    - if document.get("_active_item_alert_count") && document.get("_active_item_alert_count") > 0
      .span6.well
        -# "alert" alerts
        - document.get("_item_alerts")[:alert].each do | alert |
          - if alert.active?
            .span12.alert_alert
              = "ALERT:  #{alert[:message]}".html_safe

        -# "access requirements" alerts
        - document.get("_item_alerts")[:access_requirements].each do | alert |
          - if alert.active?
            = add_row(ItemAlert::ALERT_TYPES['access_requirements'], alert[:message], options = {:html_safe => true})

    .span6.well
      = render "_formats/clio/catalog_show_holdings", :document => document
    .clear-both
      = render "google_books_check", :documents => document

      - if @active_source == "databases" && can?(:manage, ItemAlert)
        = render "/_formats/database/catalog_manage_alert", :document => document

