-# music_recording
- marc = document.to_marc
.title= document_heading.listify.join("")
= add_row("Composer / Performer", generate_value_links(display_marc_field( marc, 'author'),:author))
= add_row("Uniform Title", display_marc_field(marc, 'title_uniform'))
= add_row("Title", display_marc_field(marc, 'title'))
= add_row("Other Titles", display_marc_field(marc, 'title_other'))
= add_row("Edition", display_marc_field(marc, 'edition'))
= add_row("Published", display_marc_field(marc, 'publisher'))
= add_row("Description", display_marc_field(marc, 'description'))
= add_row("Series", generate_value_links(display_marc_field(marc, 'series'), :title))
= add_row("Performers", display_marc_field(marc, 'performers'))
= add_row("Notes", display_marc_field(marc, 'notes_music_recording'))
= add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
= add_row("Also Listed Under", generate_value_links(display_marc_field(marc, 'author_other'), :author))
= add_row("Track List", display_marc_field(marc, 'contents'))
= add_row("Language", document["language_facet"], :join => '; ')
= add_row("LCCN", display_marc_field(marc, 'LCCN'))
= add_row("Publisher No.", display_marc_field(marc, 'publisher_no'))
= add_row("Standard No.", display_marc_field(marc, 'standard_no'))
= add_row('Format', formats_with_icons(document))
