-# serial
- marc = document.to_marc
= add_row("Author", generate_value_links(display_marc_field(marc, 'author'), :author))
= add_row("Title", display_marc_field(marc, 'title'))
= add_row("Parallel Title", display_marc_field(marc, 'title_parallel'))
= add_row("Edition", display_marc_field(marc, 'edition'))
= add_row("Published", display_marc_field(marc, 'publisher'))
= add_row("Issues Published", display_marc_field(marc, 'issues_published'))
= add_row("Continues", generate_value_links(display_marc_field(marc, 'continues'), :all))
= add_row("Continues in part", generate_value_links(display_marc_field(marc, 'continues_in_part'), :all))
= add_row("Supersedes", generate_value_links(display_marc_field(marc, 'supersedes'), :all))
= add_row("Supersedes in part", generate_value_links(display_marc_field(marc, 'supersedes_in_part'), :all))
= add_row("Formed by the union of", generate_value_links(display_marc_field(marc, 'formed_by_the_union_of'), :all))
= add_row("Absorbed", generate_value_links(display_marc_field(marc, 'absorbed'), :all))
= add_row("Absorbed in part", generate_value_links(display_marc_field(marc, 'absorbed_in_part'), :all))
= add_row("Separated from", generate_value_links(display_marc_field(marc, 'separated_from'), :all))
= add_row("Continued by", generate_value_links(display_marc_field(marc, 'continued_by'), :all))
= add_row("Continued in part by", generate_value_links(display_marc_field(marc, 'continued_in_part_by'), :all))
= add_row("Superseded by", generate_value_links(display_marc_field(marc, 'superseded_by'), :all))
= add_row("Superseded in part by", generate_value_links(display_marc_field(marc, 'superseded_in_part_by'), :all))
= add_row("Absorbed by", generate_value_links(display_marc_field(marc, 'absorbed_by'), :all))
= add_row("Absorbed in part by", generate_value_links(display_marc_field(marc, 'absorbed_in_part_by'), :all))
= add_row("Split into", generate_value_links(display_marc_field(marc, 'split_into'), :all))
= add_row("Merged with, to form", generate_value_links(display_marc_field(marc, 'merged_with_to_form'), :all))
= add_row("Changed back to", generate_value_links(display_marc_field(marc, 'changed_back_to'), :all))
= add_row("Description", display_marc_field(marc, 'description'))
= add_row("Summary", display_marc_field(marc, 'summary'))
= add_row("Series", generate_value_links(display_marc_field(marc, 'series'), :title))
= add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
= add_row("Medical Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_mesh')))
= add_row("Subjects (Genre)", generate_value_links_subject(display_marc_field(marc, 'subject_genre')))
= add_row("Also Listed Under", generate_value_links(display_marc_field(marc, 'author_other'), :author))
= add_row("Other Titles", display_marc_field(marc, 'title_other'))
= add_row("Distinctive Title", display_marc_field(marc, 'title_distinctive'))
= add_row("Cover Title", display_marc_field(marc, 'title_cover'))
= add_row("Added Title Page", display_marc_field(marc, 'title_added'))
= add_row("Caption Title", display_marc_field(marc, 'title_caption'))
= add_row("Running Title", display_marc_field(marc, 'title_running'))
= add_row("Spine Title", display_marc_field(marc, 'title_spine'))
= add_row("Frequency", display_marc_field(marc, 'frequency'))
= add_row("Notes", display_marc_field(marc, 'notes_serial'))
= add_row("Reproduction Note", display_marc_field(marc, 'reproduction_note'))
= add_row("Language", document["language_facet"], :join => '; ')
= add_row("LCCN", display_marc_field(marc, 'LCCN'))
= add_row("ISSN", display_marc_field(marc, 'ISSN'))
= add_row('Format', formats_with_icons(document))
= add_row('Acquired On', Date.parse(document.get('acq_dt')).to_formatted_s(:long)) if document.get('acq_dt')
