- remote = defined?(remote) ? remote : false
= form_for item_alert, :html => {:class => "form-horizontal"} do |f|
  .alerts
    - if item_alert.errors.any?
      .alert
        %btn.close{:type => "button", :"data-dismiss" => "alert"} x
        = "#{pluralize(@item_alert.errors.count, "danger")} prohibited this item_alert from being saved:"
        %ul
          - item_alert.errors.full_messages.each do |msg|
            %li= msg

  - if item_alert.source
    = f.hidden_field :source
  - else
    .form-group
      %label.control-label{:for => "source"} Source:
      .controls
        = f.text_field(:source)
  - if item_alert.item_key
    = f.hidden_field :item_key
  - else
    .form-group
      %label.control-label{:for => "item_key"} Item Key:
      .controls
        = f.text_field(:item_key)
  - item_alert.author_id = current_user.id
  = f.hidden_field :author_id

  .form-group
    %label.control-label{:for => "alert_type"} Alert Type:
    .controls
      = f.select(:alert_type, options_for_select(ItemAlert::ALERT_TYPES.invert, item_alert.alert_type? ? item_alert.alert_type : "alert"))

  .form-group
    %label.control-label{:for => "start_date"} Start Date:
    .controls
      = text_field_tag 'item_alert[start_date]',
        item_alert.start_date? ?  item_alert.start_date.strftime("%F %H:%M") : "",
        :"data-datepicker-format" => "yyyy-mm-dd hh:ii",
        :placeholder => "Leave blank to start immediately"


  .form-group
    %label.control-label{:for => "end_date"} End Date:
    .controls
      = text_field_tag 'item_alert[end_date]',
        item_alert.end_date? ? item_alert.end_date.strftime("%F %H:%M") : "",
        :"data-datepicker-format" => "yyyy-mm-dd hh:ii",
        :placeholder =>"Leave blank to run indefinitely"

  .form-group
    %label.control-label{:for => "message"} Message
    .controls
      = f.text_area(:message, :rows => 4)

  .form-group
    .controls
      = f.submit 'Save', :class => "btn btn-primary btn-submit"
