-# format=art_work

/ _formats/art_work/_catalog_show.html.haml

- cache("catalog_show_format=art_work_#{document.cache_key}") do
  - marc = document.to_marc

  = add_row("Creator", generate_value_links(display_marc_field(marc, 'creator'), :author))
  = add_row("Title", display_marc_field(marc, 'title'))
  = add_row("Alternate Title", display_marc_field(marc, 'title_other'))
  = add_row("Produced", display_marc_field(marc, 'publish_produce'))
  = add_row("Physical Properties", display_marc_field(marc, 'description'))
  = add_row("Inscription", display_marc_field(marc, 'inscription'))
  = add_row("Description", display_marc_field(marc, 'summary'))
  = add_row("Notes", display_marc_field(marc, 'notes'))
  = add_row("Credit Line", display_marc_field(marc, 'credit_line'))
  = add_row("Subjects", generate_value_links_subject(display_marc_field(marc, 'subject_LC')))
  = add_row("Subjects (Genre)", generate_value_links_subject(display_marc_field(marc, 'subject_genre')))
  = add_row('Format', formats_with_icons(document))

