<%= form_with(model: best_bet, local: true) do |form| %>
  <% if best_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(best_bets.errors.count, "error") %> prohibited this best_bet from being saved:</h2>

      <ul>
      <% best_bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title, class: 'col-sm-2 control-label'  %>
    <%= form.text_field :title, id: :best_bet_title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :url, class: 'col-sm-2 control-label' %>
    <%= form.text_field :url, id: :best_bet_url, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: 'col-sm-2 control-label' %>
    <%= form.text_area :description, id: :best_bet_description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :keywords, class: 'col-sm-2 control-label' %>
    <%= form.text_area :keywords, id: :best_bet_keywords, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :tags, class: 'col-sm-2 control-label' %>
    <%= form.text_area :tags, id: :best_bet_keywords, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
