<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @best_bet.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @best_bet.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @best_bet.description %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @best_bet.keywords %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @best_bet.tags %>
</p>

<%= link_to 'Edit', edit_best_bet_path(@best_bet) %> |
<%= link_to 'Back', best_bets_path %>
