
%p{id: 'notice'}= notice



%h3 CLIO Preference settings for #{current_user.uid}



- if @preference.nil?
  No personal preferences set.
  Using system defaults
  %br
  = link_to 'Set Preferences', new_preference_path

- else
  <pre>
  = @preference.settings
  </pre>

  = link_to 'Update Preferences', edit_preference_path(@preference)

