
-# container for a single doc - within AGGREGATE views, e.g., QuickSearch

/ _formats/ac/_aggregate.html.haml

.result{source: 'ac', item_id: document.id, class: alternating_line('ac')}

  - if document.is_a? AcDocument

    .result_title= link_to document.title, academic_commons_document_link(document)

    = add_row('Author', document.authors, join: ', ')
    = add_row('Date', document.date)
    -# = add_row('Identifier', document['handle'])
    = add_row('Subject', document.subjects, join: ', ')
    = add_row('Type', document.types, join: ', ')

  - else

    - fedora_id = document['id'].listify.first
    -# NEXT-1012 - use handle for item link in AC records
    -# .result_title= link_to document.fetch('title_display', nil), "http://academiccommons.columbia.edu/catalog/#{fedora_id}"

    .result_title= link_to document.fetch('title_display', nil), academic_commons_document_link(document)


    / main container for doc partial view

    -# Suppress some data fields in QuickSearch view, 
    -# to increase record-density
    = add_row('Author', document['author_display'])
    = add_row('Date', document['pub_date_facet'])
    -# = add_row('Identifier', document['handle'])
    = add_row('Subject', document['subject_facet'], :join => ', ')
    = add_row('Type', document['genre_facet'])
    -# = add_row('Publisher', document['publisher'])

    -# -# = add_row('Downloads', "<span class='fedora_#{fedora_id.gsub(':','')}'>Loading... " + image_tag("ajax-indicator.gif",:size => "12x12") + "</span>")
    -# - downloads_link = link_to "Downloadable content", academic_commons_document_link(document)
    -# = add_row('Downloads', downloads_link)
