/ container for a single doc 
.result.document{class: render_document_class(document), source: 'academic_commons', item_id: document.get(:id)}
    
  %abbr.unapi-id{:title => document[:id]}
  - fedora_id = document['id'].listify.first
  .fedora_title.title= link_to document.get('title_display'), "http://academiccommons.columbia.edu/catalog/#{fedora_id}"

      
  / main container for doc partial view 

  .details
    = add_row('Author', document['author_display'])
    = add_row('Date', document['pub_date_facet'])
    = add_row('Handle', document['handle'].listify.collect { |url| link_to(url, url) }) 
    = add_row('Subject', document['subject_facet'], :join => ', ')
    = add_row('Type', document['genre_facet'])
    = add_row('Publisher', document['publisher'])
    = add_row('Downloads', "<span class='fedora_#{fedora_id.gsub(':','')}'>Loading... " + image_tag("ajax-indicator.gif",:size => "12x12") + "</span>")
