-# ACADEMIC COMMONS

/ _formats/ac/_standard_list_item.html.haml
/ container for a SINGLE doc

.result.document{class: render_document_class(document), source: 'academic_commons', item_id: document.fetch(:id)}

  .row
    .title.col-sm-12

      %span.coins_wrapper
        <!-- COinS -->
        %span.Z3988{:title => ac_to_openurl_ctx_kev(document)}

      .item_anchor
        = render '/item_number', :counter => counter

      .item_number_allowance
        - fedora_id = document['id'].listify.first
        -# NEXT-1012 - use handle for item link in AC records
        -# = link_to document.fetch('title_display', nil), "http://academiccommons.columbia.edu/catalog/#{fedora_id}"
        = link_to document.fetch('title_display', nil), document['handle']


  / main container for doc partial view

  .details
    = add_row('Author', document['author_display'])
    = add_row('Date', document['pub_date_facet'])
    = add_row('Identifier', document['handle'].listify.collect { |url| link_to(url, url) })
    = add_row('Subject', document['subject_facet'], :join => ', ')
    = add_row('Type', document['genre_facet'])
    = add_row('Publisher', document['publisher'])
    = add_row('Downloads', "<span class='fedora_#{fedora_id.gsub(':','')}'>Loading... " + image_tag("ajax-indicator.gif",:size => "12x12") + "</span>")
