= form_for @database_alert do |f|
  - if @database_alert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@database_alert.errors.count, "error")} prohibited this database_alert from being saved:"
      %ul
        - @database_alert.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
