
-# CATALOG ADVANCED SEARCH PANEL


.search_box{ :class => ("selected" if has_advanced_params?) }
  = form_tag base_catalog_index_path, :class => "form-horizontal", :method => "GET" do

    = standard_hidden_keys_for_search

    .search_title
      Match
      = select_tag :advanced_operator, options_for_select([["all", "AND"], ["any", 'OR']], params['advanced_operator'] || 'AND' ), :class => "input-mini"
      of the following criteria:
      %button.btn.advanced_search_button.btn-primary{:name => "commit", :type => "submit", :value => "Search"}
        %span.glyphicon.glyphicon-search.icon-white
        %span.hidden-sm Search
      =link_to "Basic Search", "#", class: "btn btn-link advanced_search_toggle"

    = hidden_field_tag 'search_field', 'advanced'

    .form-group
      - (1..5).each do |i|
        .advanced_search_row
          = advanced_field_select_option(blacklight_config, i)
          = advanced_field_text_field(blacklight_config, i)



