
-# NEXT-485 - RSS feeds from CLIO Beta don't display item content
-# 
-# Here is the proposed content:
-# 
-# Title & subtitle:
-# Author:
-# Publication year:
-# Location(s)
-# Call number:
-# Online link:


%dl
  = add_row('Title', document.fetch('title_display', nil), :style => :text)
  = add_row('  Author', document.fetch('author_display', nil), :style => :text)
  = add_row('  Published', document.fetch('full_publisher_display', nil), :style => :text)
  - unless (locations = document["location_call_number_id_display"].listify.reject { |l| l.match(/^Online/) }).empty?
    = add_row('  Location', format_brief_location_results(locations, document), :style => :text, :join => ' / ')
  = add_row('  Online', format_online_results(online_link_hash(document)), :style => :text)

