- limit = params[:view] == "grid" ? 1 : 3
- if (limit >=0 && (urls =  document.get("url_fulltext_display")))
  - urls.listify.each do |url_blob|
    - url_blob.split(",").each do |url|
      - break if (limit -= 1) < 0
      %div
        = image_tag("icons/noncirc.png", :class => :availability)
        Online
        %br
        = link_to url.abbreviate(25), url



- unless (locations = document["location_display"].listify.reject { |l| l == "Online" }).empty? || document["location_holdings_id_display"].nil?
  - locations.each_with_index do |location, i|
    - break if (limit -= 1) < 0
    - holdings_id = "holding_" + (document["location_holdings_id_display"].listify[i] || document["location_holdings_id_display"].first).to_s if document["location_holdings_id_display"]
    %div
      = image_tag("icons/unknown.png", :class => "availability " + holdings_id)
      = shorten_location(location)
      %br
      = document["location_call_number_display"].listify[i] || document["location_call_number_display"].first


