/catalog/_bound_with.html.haml

-# Don't try anything for, e.g., ReCAP partner records
- return unless document.columbia?

- if copy['bound_withs'].present?

  .bound_withs
    - copy['bound_withs'].each do |bound_with|

      -# We want each bound-with to output a line that looks like this:
      -#    v.1 (1901) bound with different title; request barcode CUxxxxxxxx
      .bound_with_item
        - enum_chron = bound_with[:enum_chron]
        - barcode = bound_with[:barcode]

        - offsite_bound_with_url = offsite_bound_with_url(document[:title_display], enum_chron, barcode)
        - requestable = OFFSITE_CONFIG['offsite_locations'].include?(entry['location_code'])
      
        - if enum_chron.present?
          = enum_chron
          bound with different title; 
        - else
          Bound with different title; 
      
        %span.bound_with_link
          - if requestable && offsite_bound_with_url.present?
            -# = link_to "request barcode #{barcode}", offsite_bound_with_url
            = link_to "request barcode #{barcode}", '#', onclick: "OpenWindow('#{offsite_bound_with_url}'); return false;"
            
          - else
            = link_to "search barcode #{barcode}", catalog_index_path(q: barcode)



