- if @query.has_constraints?
  #appliedParams.constraints-container
    %span.constraints-label= t('blacklight.search.filters.title') 
    = link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :class => "catalog_startOverLink", :id=>"startOverLink" 
    - unless @query.queries.empty?
      %div.constraint-box
        - if @query.multiple_queries?
          %span.dropdown
            %ul.css-dropdown
              %li
                #{@query.query_operator_label}
                %span.caret
                %ul
                  - @query.query_operator_change_links.each do |label, link|
                    %li= link_to label, link
        - @query.queries.each do |field_key,field|
          %span.inner-dropdown
            #{field[:label]}: #{field[:value]}
            =link_to content_tag(:i, '', :class => 'icon-remove'), field[:remove]


    - @query.filters.each_pair do |filter_key, filter|
      %div.constraint-box
        #{filter[:label]}:
        - if filter[:values].length > 1
          %span.dropdown
            %ul.css-dropdown
              %li
                #{filter[:operator_label]}
                %span.caret
                %ul
                  - filter[:operator_change_links].each do |label, link|
                    %li= link_to label, link

        - filter[:values].each do |value|
          %span.inner-dropdown
            %span.dropdown
              %ul.css-dropdown
                %li
                  #{value[:invert_label]}
                  %span.caret
                  %ul
                    - value[:invert_links].each do |label, link|
                      %li= link_to label, link
            = value[:label]
            =link_to content_tag(:i, '', :class => 'icon-remove'), value[:remove]


    -#= render_advanced_constraints(params)
