<% # container for all documents in index view -%>
<div id="documents">

  <% # loop thru each doc -%>
  <% @document_list.each_with_index do |document,counter| %>

    <% # container for a single doc -%>
    <div class="document">
      
      <% # header bar for doc items in index view -%>
      <div class="documentHeader yui-g">
        
        <% # list controls for items/docs -%>
        <div class="yui-u documentFunctions">
          <%= render :partial=>'bookmark_control', :locals=>{:document=>document} %>
          <%= render :partial=>"folder_control", :locals=>{:document=> document} %>
        </div>
        
        <% # main title container for doc partial view -%>

        <div class="yui-u">
          <h3 class="index_title"><%= counter + 1 + @response.params[:start].to_i %>. <%= link_to_document document, :label=>document_show_link_field, :counter => (counter + 1 + @response.params[:start].to_i) %></h3>
        </div>
        
      </div>
      
      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index %>

    </div>
    
  <% end %>
  <% holdings_to_check = @document_list.listify.reject { |d| d["location_display"].listify.reject { |l| l == "Online" }.empty? }.collect { |d| d["id"] } %> 
  <% content_for :jstemplates do -%>
    $(document).ready ( function () {
        update_holdings_info('<%=url_for(:controller => :backend, :action => "opac_holdings_data")%>', [<%= holdings_to_check.join(",")%>])
    }); 
    
  <% end -%>
</div>
