<h1>Email This</h1>
<% form_tag({:controller => "catalog", :action => "email"}, :method => :post, :id => "email_form") do %>
  <%= label_tag(:to, "Email:") %><br/>
  <%= text_field_tag :to %><br/>
  <%= label_tag(:message, "Message:") %><br/>
  <%= text_area_tag :message %><br/>
  <% @documents.each do |doc| %>
    <%=hidden_field_tag "id[]", doc.get(:id)%>
  <% end %>
  <%= submit_tag "Send" %>
<% end %>
