<% # Override BlackLight Core email_form partial
   # We want to directly pass-through params[:id], instead of turning them into
   # Solr docs and then back into ints again.
 %>

<%- unless flash[:success] %>
  <%= form_tag url_for(:controller => "catalog", :action => "email"), :id => 'email_form', :class => "form-horizontal ajax_form", :method => :post do %>

    <div class="modal-body">
      <div class="container">
        <%= render :partial=>'/flash_msg' %>
        <div class="form-group">
          <label class="control-label" for="to">
            Send to:
          </label>
          <div class="controls">
            <%= text_field_tag :to, params[:to] %><br/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="reply_to" >
            Your email (optional):
          </label>
          <div class="input-block-level">
            <%= text_field_tag :reply_to, @reply_to %><br/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name" >
            Your name (optional):
          </label>
          <div class="controls">
            <%= text_field_tag :name, @display_name %><br/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="message">
            <%= t('blacklight.email.form.message') %>
          </label>
          <div class="controls">
            <%= text_area_tag :message, params[:message] %>
          </div>
        </div>

        <% Array.wrap(params[:id]).each do |id| %>
          <%=hidden_field_tag "id[]", id%>
        <% end %>

        <%- if params[:sort] -%>
          <%= hidden_field_tag "sort", params[:sort] %>
        <%- end -%>
        <%- if params[:per_page] -%>
          <%= hidden_field_tag "per_page", params[:per_page] %>
        <%- end -%>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
    </div>
  <% end %>
<%- else %>
  <div class="modal-body">
    <%= render :partial=>'/flash_msg' %>
    <span class="ajax-close-modal"/>
  </div>
<%- end %>
