
-# This partial is used for rendering the Call Number Facet,
-# both the single-letter prefix (lc_1letter_facet in our Solr schema), 
-# and, if a single-letter-prefix is selected, also rendering
-# within that an expansion of all LC Subclasses having that prefix.
-# (See NEXT-1085)

- display_facet = @response.facets.detect {|f| f.name == solr_field}

-# What is the selected LC prefix?
-# Should be false, or a single-letter
- selected_lc_prefix ||= false

- "selected_lc_prefix=[#{selected_lc_prefix}]"

- paginator =   Blacklight::Solr::FacetPaginator.new(display_facet.items, :limit => facet_limit_for(solr_field) )
- paginator.items.each do |item|
  -# Skip this subclass facet value, if it doesn't fall within the 
  -# selected LC prefix.  (happens with multiple call-number items.)
  - next if (solr_field == "lc_subclass_facet") && (item.value[0] != selected_lc_prefix)

  %li
    -# IF this LC-Prefix or LC-Subclass is selected
    - if facet_in_params?( solr_field, item.value )
      = render_selected_facet_value(solr_field, item)
      - selected_lc_prefix = item.value[0] if (solr_field == "lc_1letter_facet")
    - else
      = render_facet_value(solr_field, item)

- if(paginator.has_next?)
  .more_facets_link
    = link_to(t('blacklight.search.facets.more'), params.merge(:id => solr_field, :action=>"facet"), :class => "more_facets_link")



- if selected_lc_prefix && (solr_field == "lc_1letter_facet")
  .refine_call_number
    .refine_call_title Refine Call Number
    = render :partial => "catalog/facet_call_letter_value", :locals => {:solr_field => "lc_subclass_facet", :selected_lc_prefix => selected_lc_prefix}
