
// views/catalog/_facet_limit_html.haml for solr field "#{solr_field}"


%ul.facet-values.list-unstyled

  -# Support for Excluded facet values (negated facets)
  - excluded_solr_field = "-#{solr_field}"
  - if params['f'] && params['f'][excluded_solr_field]
    - Array.wrap(params['f'][excluded_solr_field]).each do |item|
      %li
        = render_selected_excluded_facet_value(excluded_solr_field, item)

  - paginator = facet_paginator(facet_field, display_facet)
  - paginator.items.each do |item|
    %li
      - if facet_in_params?( solr_field, item.value )
        = render_selected_facet_value(solr_field, item)
      - else
        = render_facet_value(solr_field, item)

  - unless paginator.last_page? || params[:action] == "facet"
    -# Do we use 'more_facets_link', which triggers a modal, or not?
    - more_facets_class = 'more_facets_link'
    -# NEXT-908 - nope, no full-screen, use modal for all facets
    -# - if Rails.env != 'clio_prod'
    -#   - if solr_field == 'language_facet'
    -#     - more_facets_class = ''
      
    %li{class: "#{more_facets_class}"}
      = link_to(t('blacklight.search.facets.more'), params.merge(id: solr_field, action: "facet", page: nil, rows: nil), class: "#{more_facets_class}")






