.modal-header
  %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
  %h3= facet_field_labels[params[:id]]

.modal-body
  .facet_extended_list
    .selected_facets

    %ul.facet_extended_list
      - selected_negative_values_for_facet(params[:id]).each do |value|
        %li 
          NOT #{value}
          = link_to content_tag(:i, '', class: 'icon-remove'), catalog_index_path(remove_facet_params("-#{params[:id]}", value, params)), :class => 'remove'
      - @pagination.items.each do |item| 
        %li
          - if facet_in_params?( params[:id], item.value ) 
            = render_selected_facet_value_on_facet(params[:id], item) 
          - else
            = render_facet_value(params[:id], item)

            
.modal-footer
  .facet_pagination_bottom
    .pull-right
      %a.btn{:"data-dismiss" => 'modal', :href => "#"} Cancel
      %a.btn{:href => "#"} Submit
