.modal-header
  %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
  %h3= facet_field_labels[params[:id]]

.modal-body
  .facet_extended_list
    .selected_facets
      Include a result if it matches all of the following:
      %ul
        - selected_values_for_facet(params[:id]).each do |value|
          %li= value
        - selected_negative_values_for_facet(params[:id]).each do |value|
          %li= value

    %ul.facet_extended_list
      - @pagination.items.each do |item| 
        %li
          - if facet_in_params?( params[:id], item.value ) 
            = render_selected_facet_value(params[:id], item) 
          - else
            %div.facet_line
              %span.facet_select 
                = item.label
              %span.actions
                %a.btn.btn-small.btn-success{:href => "#"} 
                  %i.icon-plus-sign.icon-white
                %a.btn.btn-small.btn-danger{:href => "#"} 
                  %i.icon-minus-sign.icon-white
                  Exclude
              %span.count= item.hits

            
.modal-footer
  .facet_pagination_bottom
    .pull-right
      %a.btn{:"data-dismiss" => 'modal', :href => "#"} Cancel
      %a.btn{:href => "#"} Submit
