
-# Build the entire facet panel for Call Number facets

-# solr_field is the string name of the facet field
-# display_facet is Blacklight::SolrResponse::Facets::FacetField 
- display_facet = @response.aggregations[solr_field]

-# facet_field is Blacklight::Configuration::FacetField
- facet_field = facet_configuration_for_field(display_facet.name)

- if display_facet && display_facet.items.length > 0
  .panel.panel-default{:class => "facet_limit blacklight-#{solr_field.parameterize}"}
    .collapse-toggle.panel-heading{class: "#{'collapsed' if should_collapse_facet?(facet_field)}", data: {toggle: "collapse", target: "#facet-#{solr_field.parameterize}", 'facet-tag' => build_facet_tag(facet_field)}}
      %h5.panel-title
        = link_to facet_field_label(solr_field), "#", :"data-no-turbolink" => true

    .panel-collapse.facet-content{id: "facet-#{solr_field.parameterize}", class: "#{should_collapse_facet?(facet_field) ? 'collapse' : 'in'}"}
      .panel-body
        %ul.facet-values.list-unstyled
          = render :partial => "catalog/facet_callnumber_letter"


