

.index_toolbar.navbar

  .navbar-inner

    -# .container{ :style => "width: auto;" }

    %ul.nav
      %li.active
        %div.navbar-text
          = fix_catalog_links(render "paginate_compact")
          = fix_catalog_links(link_to image_tag('rss-feed-icon-14x14.png', :size => "13x13"), catalog_index_path(params.merge(:format => 'atom')), :class => "rss-feed")

    %ul.nav.pull-right
      = fix_catalog_links(render 'per_page_widget')
      = fix_catalog_links(render 'sort_widget')
      -# Allow "selections" for any Catalog-based data source, but NOT for Academic Commons
      - if @active_source != 'academic_commons'
        = render 'selections_widget'
    

