- if (urls =  document.get("url_fulltext_display"))
  %dt Online:
  %dd
    - urls.listify.each do |url_blob|
      - url_blob.split(",").each do |url|
        %div
          = image_tag("icons/noncirc.png", :class => :availability)
          = link_to url, url


- unless (locations = document["location_display"].listify.reject { |l| l == "Online" }).empty?
  - content_for :jstemplates do
    :plain
        update_holdings_info('#{url_for(:controller => :backend, :action => "opac_holdings_data", :bibid => document["id"])}');
  %dt At the Library:
  %dd
    - locations.each_with_index do |location, i|
      - holdings_id = "holding_" + (document["location_holdings_id_display"].listify[i] || document["location_holdings_id_display"].first).to_s
      %div
        = image_tag("icons/unknown.png", :class => "availability " + holdings_id)
        = location
        >>
        = document["location_call_number_display"].listify[i] || document["location_call_number_display"].first


- if (format = document.get("format"))
  %dt Format:
  %dd
    %div
      =image_tag("icons/#{h(format).downcase}.png", :class => "format")
      = h format
