%dt Published:
%dd
  = document["full_publisher_display"].listify.join("").to_s

- unless (urls =  online_link_hash(document)).empty?
  %dt Online:
  %dd
    - urls.each do |link|
      %div
        = image_tag("icons/noncirc.png", :class => :availability)
        - title,url = link
        = link_to title.abbreviate(60), url


- unless (locations = document["location_display"].listify.reject { |l| l == "Online" }).empty? || document["location_holdings_id_display"].nil?
  %dt At the Library:
  %dd
   
    - locations.each_with_index do |location, i|
      - holdings_id = "holding_" + (document["location_holdings_id_display"].listify[i] || document["location_holdings_id_display"].first).to_s if document["location_holdings_id_display"]
      %div
        = image_tag("icons/unknown.png", :class => "availability " + holdings_id)
        = shorten_location(location)
        >>
        = document["location_call_number_display"].listify[i] || document["location_call_number_display"].first


- if (format = document.get("format"))
  %dt Format:
  %dd
    %div
      = h format
