
#actions-dropdown.dropdown.pull-right.hidden-phone
  %ul.css-dropdown
    %li.btn.btn-link
      Selected Items...
      %span.caret
      %ul
        %li= link_to "Send to Email", email_catalog_path(), {:id => "emailLink", :name => "email", :class => "lightboxLink", :onclick => "return appendSelectedToURL(this);"}
        %li= link_to "Export to EndNote", endnote_catalog_path(:format => 'endnote'), {:id => "endnoteLink", :onclick => "return appendSelectedToURL(this);"}
        %li.divider
        %li= link_to "Save to #{SavedList::DEFAULT_LIST_NAME}", "#", :onclick => "saveSelectedToNamedList('#{SavedList::DEFAULT_LIST_NAME}'); return false;"
        %li.divider
        %li= link_to "Select All Items", "#", :onclick => "selectAll(); return false;"
        %li= link_to "Clear All Items", "#", :onclick => "deselectAll(); return false;"

