- if session[:search][:counter]
  #applied_params_container
    #appliedParams
      #searched_for
        %h3.label You searched for:
        = render_constraints(localized_params)
      
      #search_navigation
        - if @previous_document || @next_document 
          #show_start_over
            .item_count= item_page_entry_info.gsub(" from your search.","").html_safe
            = link_to "Start over", catalog_index_path 
          #show_prev_next
            .link_back= link_back_to_catalog

            = link_to_previous_document(@previous_document)
            = link_to_next_document(@next_document)	

