- cache("hathi_holdings_#{@document.cache_key}") do

  -# fetch via hathitrust.org API
  - hathi_holdings_data = get_hathi_holdings_data(@document)

  - if hathi_holdings_data && hathi_holdings_data['records'] && hathi_holdings_data['records'].size > 0
    - key, value = hathi_holdings_data['records'].first
    - recordURL = value['recordURL']

    #hathi_data

      .hathi_title.holdings_title Hathi Trust
      
      .hathi_info
        %a{href: "#{recordURL}"} Summary Page

      .holdings_subtitle
        Viewability
      
      - item_count = hathi_holdings_data['items'].size
      - show_count = 25

      .hathi_viewability_table.small
        - hathi_holdings_data['items'].each_with_index do |item, i|

          -# First show_count items are shown, beyond that they'll
          -# be hidden inside a hide/show expander.
          - visibility = (i >= show_count) ? 'expander_more' : ''
          .hathi_viewability_row{class: visibility}
            .hathi_viewability_cell
              %a{href: "#{item['itemURL']}"}= item['usRightsString']
            .hathi_viewability_cell
              -# enum-cron is 'false' for bookish items
              %a{href: "#{item['itemURL']}"}= item['enumcron'] || ''
            .hathi_viewability_cell
              - if item['orig']
                %em= "(original from #{item['orig']})"
          -# After show_count items, add the show/hide expander control.
          -# (zero-based indexing, so subtract one)
          - if i == (show_count - 1)
            .hathi_viewability_row.expander
              .hathi_viewability_cell{style: 'display:inline-block'}
                %em
                  %a.expander{href: '#'}
                    (#{item_count - show_count} more...)

