-# catalog/index.html
-# Search-Results for catalog-based datasources

/ catalog/index.html.haml

-  unless has_search_parameters?
  - cache("datasource_landing_page_#{@active_source}_#{params_digest}") do
    = datasource_landing_page(@active_source)

- else

  = render partial: '/datasource_warning', locals: {warning: warning}

  - @page_title = application_name + " Search Results"
  - session['search'] ||= {}
  - session['search'][:active_source] = @active_source

  - unless response.nil?
    = fix_catalog_links(render('constraints', :localized_params=>params ))

    - if @document_list.nil? || @document_list.empty?
      = render 'no_results_blurb'
    - else

      -# The toolbar above the search results allows pagination/sort/selection/etc.
      = render 'index_toolbar'

      -# Replace this partial call....
      -# = render 'document_list'
      -# ...with the content of the two-line partial.
      #documents.scroll_memory{:data => {'ga-action' => 'Search Results Click'} }
        = render_document_list(@document_list, :action => "catalog")
      

      -# Build a secondary pagination bar below the seach results
      = fix_catalog_links(render('results_pagination'))

      -# Capture the HTML for the facets panel to a variable, used by our layout
      - clio_sidebar_items << capture do
        = render 'facets'

  -# We shouldn't get errors, but if we do we need to let the user know.
  -#  DO NOT display @errors, as it includes technical details such as 
  -#  Solr URL, true file-paths, etc.
  - if @errors
    .alert.alert-danger
      Unexpected Error during search.
      Please #{link_to "restart your search", datasource_landing_page_path(@active_source)}



