
-  unless has_search_parameters?
  - cache("datasource_landing_page_#{@active_source}") do
    = datasource_landing_page(@active_source)

- else

  = render partial: '/datasource_warning', locals: {warning: warning}

  - @page_title = application_name + " Search Results"
  - session['search'][:active_source] = @active_source

  - unless response.nil?
    = fix_catalog_links(render('constraints', :localized_params=>params ))

    - if @document_list.nil? || @document_list.empty?
      = render 'no_results_blurb'
    - else
      = render 'index_toolbar'

      = render 'document_list'
      = fix_catalog_links(render('results_pagination'))

      - clio_sidebar_items << capture do
        = render 'facets'




