-  unless has_search_parameters? 
  = add_all_datasource_landing_pages

- else

  - @page_title = application_name + " Search Results" 
  - session['search'][:active_source] = @active_source

  - extra_head_content << render_opensearch_response_metadata.html_safe 

  = fix_catalog_links(render('constraints', :localized_params=>params ))
  
  = render 'sort_and_per_page' 



  - if @active_source == "databases"
    .on_search= render :partial => "/_display/databases/a_to_z"

  = render :partial => 'document_list' 

  - sidebar_items << capture do 
    = render :partial=>'facets' 

  = render 'results_pagination' 



