


- @page_title = "#{@document ? document_show_html_title.listify.join('') : ''} - #{application_name}"


= render "_formats/clio/catalog_show_toolbar", :document => @document


.row

  #marc_download_links.col-md-6
    %strong= "Download as:"
    %span= link_to "MARCXML", catalog_path(@document.id, :format => "marcxml")
    %span= link_to "MARC21", catalog_path(@document.id, :format => "marc")
  #patron_view_link.col-md-6
    %strong.btn= link_to "Return to Patron View", catalog_path(@document.id)
    


= render "marc_view", :document => @document




