

- title = @document.has_key?('title_display') ? @document['title_display'].first : ''
- @page_title = "#{title} - #{application_name}".html_safe


= render "_formats/clio/catalog_show_toolbar", :document => @document

= render("/link_to_prod", id: @document.id, view: 'xml') if @document.backstage?

.row

  #marc_download_links.col-sm-6
    %strong= "Download as:"
    %span= link_to "MARCXML", solr_document_path(@document.id, :format => "marcxml")
    %span= link_to "MARC21", solr_document_path(@document.id, :format => "marc")
  #patron_view_link.col-sm-6
    %strong.btn.btn-default= link_to "Return to Patron View", fix_catalog_links(solr_document_path(@document.id))
    


= render '/marc_view', document: @document, barcode2cgd: @barcode2cgd

%br
%br
%br

= render '/authority_variants', document: @document

