

%h3
  System Details
  

.row
  .col-sm-6= "request.protocol"
  .col-sm-6=  request.protocol

.row
  .col-sm-6= "request.url"
  .col-sm-6=  request.url
    
.row
  .col-sm-6= "request.fullpath"
  .col-sm-6=  request.fullpath