<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">XLS Download</h4>
</div>

<%= form_tag url_for(controller: 'catalog', action: 'xls_download'), id: 'xls_form', class: "form-horizontal", method: :get, target: 'xls_download' do %>

  <!-- Pass through all query parameters, to re-execute the search -->
  <%= hidden_keys_for_xls %>
  <!-- Output format should be in XLS format -->
  <%= hidden_field_tag 'format', 'xls' %>
  

  <div class="modal-body">
    <div class="container">
      <%= render :partial=>'/flash_msg' %>

      <div class="form-group row">
        <div class="col-xs-12">
          <%=radio_button_tag :level, 'bib', checked: true %>
          <%=label_tag :level_bib, 'One line per Bibliographic Record' %>
          <div class="input-block-level">
            Title, Author, Publisher
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <%=radio_button_tag :level, 'holding' %>
          <%=label_tag :level_holding, 'One line per Holding' %>
          <div class="input-block-level">
            Bib details, plus Call Number, Location
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <%=radio_button_tag :level, 'item' %>
          <%=label_tag :level_item, 'One line per Item' %>
          <div class="input-block-level">
            Bib and Holdings, plus Barcode
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" id='xls_download'>Download</button>
  </div>

<% end %>
