%p#notice= notice


.row-fluid

  .mylist_control_panel.span3
    = render 'mylist_control_panel'



  .mylist_display_list.span9

    %p.lead= get_list_name(@list)

    %p= @list.description

    %b URL:
    = get_list_url(@list)
    %span.label.label-info= @list.permissions

    %br

    .sortAndPerPage
      = render 'move_items'
      = render 'list_actions_widget'
      <!-- = render 'sort_widget' -->


    -# this is a core blacklight helper function that 
    -# iterates over @document_list, calling the relevant
    -# partial to display each.
    -# But, we'll probably want to replace this with a 
    -# MyList specific partial, with edit controls attached.

    = render_document_index

%br
