
-# CALL-NUMBER BROWSE NEARBY TOOLBAR CONTROLS

- firstShelfkey = @browse_item_list.first[:current_shelfkey]
- first_call_number = @browse_item_list.first[:current_call_number]

- lastShelfkey = @browse_item_list.last[:current_shelfkey]
- last_call_number = @browse_item_list.last[:current_call_number]

- per_page = session[:browse]['per_page'].to_i || 25


%nav.index_toolbar.navbar.navbar-default

  .container-fluid
    .row
      .col-sm-12
        = render '/browse/browse_title'

        - link_back = fix_catalog_links(build_link_back()).html_safe
        - if link_back and link_back.match /catalog/
          .navbar-text.pull-right
            %span.back_to_results.hidden-xs
              = link_back

        .navbar-text.pull-right
          - if session[:browse] && session[:browse]['call_number'] && session[:browse]['shelfkey']
            = link_to t('blacklight.browse.back_to_item'), solr_document_path(session[:browse]['bib'])
            -# = link_to "#{t('blacklight.browse.back_to_item')} (#{session[:browse]['call_number']})", solr_document_path(session[:browse]['bib'])
        
    .row
      .col-sm-12
        .navbar-header
          -# %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.index-toolbar-collapse'}}
          -#   %span.icon-bar
          -#   %span.icon-bar
          -#   %span.icon-bar

          .navbar-text
            -# link to previous browse page...
            - if firstShelfkey
              -# protect against badly formed shelfkeys
              - full_path = build_browse_shelfkey_full_path(shelfkey: firstShelfkey, before: per_page - 1, after: 0)
              - if full_path && full_path.length > 0
                = link_to "« Previous", full_path, class: 'call_number_nav_previous', data: {firstShelfkey: firstShelfkey}
      

            - if first_call_number && last_call_number
              |
              = first_call_number
              ="  -  "
              = last_call_number
              |
      
            -# link to next browse page...
            - if lastShelfkey
              -# protect against badly formed shelfkeys
              - full_path = build_browse_shelfkey_full_path(shelfkey: lastShelfkey, before: 0, after: per_page - 1)
              - if full_path && full_path.length > 0
                = link_to "Next »", full_path, class: 'call_number_nav_next', data: {lastShelfkey: lastShelfkey}

        .index-toolbar-collapse.navbar-collapse.collapse

          .navbar-text
            -# ONLY offer to "jump back to" your starting point, if a starting-point
            -# was recorded to our current session[:browse]
            - if session[:browse] && session[:browse]['shelfkey'] && session[:browse]['call_number']
              -# use helper method that rescues from routing errs
              - full_path = build_browse_shelfkey_full_path(shelfkey: session[:browse]['shelfkey'])
              - if full_path && full_path.length > 0
                = link_to "#{t('blacklight.browse.jump')} #{session[:browse]['call_number']}", full_path, class: 'call_number_jump', data: {shelfkey: session[:browse]['shelfkey']}

          %ul.nav.navbar-nav.navbar-right

            %li.dropdown

              -# Too much stuff, our toolbar is wrapping - take this out for more space
              -# = fix_catalog_links(render 'per_page_widget')
  
              -# Allow "selections" for any Catalog-based data source, NOT for AC
              - if $active_source != 'academic_commons'
                = render '/catalog/selections_widget'

      

