
-# CALL-NUMBER BROWSE NEARBY TOOLBAR CONTROLS


- first_shelfkey = @browse_item_list.first[:current_shelfkey]
- first_call_number = @browse_item_list.first[:current_call_number]

- last_shelfkey = @browse_item_list.last[:current_shelfkey]
- last_call_number = @browse_item_list.last[:current_call_number]

- per_page = session[:browse]['per_page'].to_i || 25

%nav.index_toolbar.navbar.navbar-default

  .container-fluid

    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.index-toolbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .navbar-text
        -# link to previous...
        = link_to "« Previous", browse_shelfkey_full_path(shelfkey: first_shelfkey, highlight: @highlight, before: per_page - 1, after: 0)
        
        &nbsp;
        &nbsp;

        = first_call_number
        &mdash;
        = last_call_number
        -# This doesn't really makes sense - how can we show the original call number
        -# up top on a screen that doesn't include that bib?  confusing?
        -# = link_to ORIGINAL CALL NUMBER, browse_shelfkey_full_path(shelfkey: ORIGINAL SHELFKEY, before: 19, after: 0)

        &nbsp;
        &nbsp;
        
        -# link to next...
        = link_to "Next »", browse_shelfkey_full_path(shelfkey: last_shelfkey, highlight: @highlight, before: 0, after: per_page - 1)

        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;


        = link_to "Browse from " + session[:browse]['call_number'], browse_shelfkey_full_path(shelfkey: session[:browse]['shelfkey']), class: 'btn btn-default'

        -# = fix_catalog_links(render :partial => "paginate_compact", :object => @response)
      
        -# = fix_catalog_links(link_to image_tag('rss-feed-icon-14x14.png', :size => "13x13"), catalog_index_path(params.merge(:format => 'atom')), :class => "rss-feed hidden-xs")


    .index-toolbar-collapse.navbar-collapse.collapse

      %ul.nav.navbar-nav.navbar-right

        %li.dropdown

          = fix_catalog_links(render 'per_page_widget')
          -# = fix_catalog_links(render 'sort_widget')
      
          -# Allow "selections" for any Catalog-based data source, but NOT for Academic Commons
          - if @active_source != 'academic_commons' && @active_source != 'dcv'
            = render '/catalog/selections_widget'

      .navbar-text.visible-xs
        = link_to "Start Over", catalog_index_path
      

