-#  ====  VIRTUAL SHELF VIEW - MINI BROWSE  ====


/ /browse/_mini_browse_panel


- unless Rails.env == 'DoNotShowMiniBrowse'
  -# - if document['shelfkey']

  #mini_browse_panel.well.well-sm
    .row
      .col-xs-7
        -# The "Title" gets special language if there's no current shelfkey
        - if document['shelfkey']
          = render '/browse/browse_title'
        - else
          - label = t('blacklight.browse.unavailable')
          - description = t('blacklight.browse.unavailable_description')
          = render '/browse/browse_title', label: label, description: description
        
        -# Many of these display elements only show if we
        -# have a valid shelfkey for browsing...
        - if document['shelfkey']

          -# These are the Show/Hide toggle buttons
          .btn-group
            .btn.btn-default.show_mini_browse{type: 'button'}Show
            .btn.btn-default.hide_mini_browse.disabled{type: 'button'}Hide

        -# The "Full Screen" link expects session values...
        - if session['browse'] && session['browse']['shelfkey']
          -# build the path in a helper, to catch routing exceptions
          - full_path = build_browse_shelfkey_full_path(shelfkey: session['browse']['shelfkey'])
          - if full_path && full_path.length > 0
            -# This "full screen" link has a default written into the generated HTML,
            -# but needs to be updated via JS for toggled call-numbers 
            = link_to t('blacklight.browse.full_screen'), full_path, class: 'btn btn-default full_screen_link', data: {toggle: 'tooltip', placement: 'top'}, title: t('blacklight.browse.full_screen_description')

      .col-xs-5
        -# We can only toggle if we have item_display values
        - if document['item_display']
          = render "/browse/call_number_toggle", document: document

    #mini_browse_list.row
      .col-xs-12
        -# We can't browse unless this document has a shelfkey
        - if document['shelfkey']
          = render "/_formats/clio/catalog_show_nearby", document: document
  
