
// views/my_account/index.html.haml


.alert.alert-info
  %h3
    My Borrowing Account

  %p= "Logged in as: #{current_user.name} (#{current_user.uid}) -- #{link_to "logout", destroy_user_session_path}"

  %li Place Hold or Recall requests from the CLIO Item page
  
  %li 
    Find your lists at 
    = link_to "My Saved Lists", lists_path
  

  // %p= "Barcode: #{@user['barcode']}"
  - if @snooping
    .alert.alert-danger
      %strong 
        YOU ARE VIEWING BORROWING ACCOUNT FOR ANOTHER USER:
        %br
        = user_display_name(@user)
        = "-- barcode:  " + @user['barcode']
        %br
        = "FOLIO ID:  " + @user['id']

  - if @blocks.length > 0
    %br
    .alert.alert-warning
      %strong
        %span.glyphicon.glyphicon-exclamation-sign
        The following blocks are in effect for
        = user_display_name(@user)
        %ul
          - @blocks.each do |block|
            %li=block
      
  

.container
  %ul.nav.nav-pills
    %li.active
      %a{"data-toggle" => "tab", href: "#home"}
        Open Loans
        %span.badge=@loans.length()
    %li
      %a{"data-toggle" => "tab", href: "#menu1"}
        Open Requests
        %span.badge=@requests.length()
      

  .tab-content
    #home.tab-pane.fade.in.active
      %h3 
        Open Loans
        
      %table.table.table-striped.table-bordered.table-condensed.table-hover.loans-datatable
        %thead
          %tr
            %th Title
            %th Call Number
            %th Barcode
            %th Owning Library
            %th Status
            %th Due Date
            %th Actions
            %th Fees&nbsp;/ Fines

        - @loans.each do |loan|
          - # Highlight rows with any problems (fees, lost, etc.)
          - item_status = loan['item']['status']['name']
          - amount_owed = loan["feesAndFines"]["amountRemainingToPay"].round
          - @row_style = ''
          - @row_style = 'danger' if item_status != 'Checked out'
          - @row_style = 'danger' if amount_owed != 0
          %tr{class: @row_style}
            %td= loan.dig('item', 'title') || ''
            %td= loan.dig('item', 'callNumber') || ''
            %td= barcode_search_link(loan.dig('item', 'barcode'))
            %td= loan.dig('item', 'location', 'name') || ''
            %td
              %span.text-nowrap=item_status
            %td
              - due_date_formatted = Time.iso8601(loan['dueDate']).strftime("%Y-%m-%d %-l:%M %p")
              %span.text-nowrap= due_date_formatted
            %td= renew_link(loan) unless @snooping
            %td
              %strong= "$#{amount_owed}" if (amount_owed > 0) 

    #menu1.tab-pane.fade
      %h3 Open Requests
      %table.table-striped.table-bordered.table-condensed.requests-datatable
        %thead
          %tr
            %th Title
            %th Call Number
            %th Barcode
            %th Owning Library
            %th Request Type
            %th Status
            %th Pickup Location
            %th Actions

        - @requests.each do |request|
          %tr
            %td= request.dig('instance', 'title') || ''
            %td= request.dig('item', 'callNumber') || ''
            %td= barcode_search_link(request['item']['barcode'])
            %td= request.dig('item', 'itemEffectiveLocationName') || ''
            %td= request['requestType']
            %td
              %span.text-nowrap= request['status']
            %td= request.dig('pickupServicePoint', 'discoveryDisplayName') || ''
            %td= cancel_link(request) unless @snooping
      

