
// views/my_account/index.html.haml


.jumpotron.alert.alert-info
  %h3
    My Borrowing Account

  %p= "Logged in as: #{current_user.name} (#{current_user.uid}) -- #{link_to "logout", destroy_user_session_path}"

  // %p= "Barcode: #{@user['barcode']}"
  %br
  - if @snooping
    %button.btn.btn-danger
      YOU ARE VIEWING BORROWING ACCOUNT FOR ANOTHER USER:
      %br
      = user_display_name(@user)
    %br
    %br
  
  %li Place Hold or Recall requests from the CLIO Item page
  
  %li 
    Find your lists at 
    = link_to "My Saved Lists", lists_path
  

.container
  %ul.nav.nav-pills
    %li.active
      %a{"data-toggle" => "tab", href: "#home"}
        Open Loans
        %span.badge=@loans.length()
    %li
      %a{"data-toggle" => "tab", href: "#menu1"}
        Open Requests
        %span.badge=@requests.length()
      

  .tab-content
    #home.tab-pane.fade.in.active
      %h3 
        Open Loans
        
      %table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th Title
            %th Status
            %th Barcode
            %th Due Date
            %th Actions

        - @loans.each do |loan|
          %tr
            %td= loan['item']['title']
            %td= barcode_search_link(loan['item']['barcode'])
            %td
              %span.text-nowrap= loan['item']['status']['name']
            - due_date_formatted = Time.iso8601(loan['dueDate']).strftime("%Y-%m-%d %-l:%M %p")
            %td
              %span.text-nowrap= due_date_formatted
            %td= renew_link(loan) unless @snooping

    #menu1.tab-pane.fade
      %h3 Open Requests
      %table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th Title
            %th Request Type
            %th Status
            %th Actions

        - @requests.each do |request|
          %tr
            %td= request['instance']['title']
            %td= request['requestType']
            %td
              %span.text-nowrap= request['status']
            %td= cancel_link(request) unless @snooping
      

