
#sortAndPerPage.well
  - previous_string = "\u00ab Previous"
  - if result.previous_page?
    =link_to previous_string, result.previous_page_path
  - else
    %span.disabled= previous_string

  %span#current_item_info= " | #{result.start_item} - #{result.end_item} of #{number_with_delimiter(result.total_items)} | "

  - next_string = "Next \u00bb"
  - if result.next_page?
    =link_to next_string, result.next_page_path
  - else
    %span.disabled= next_string

