.advanced_search
  = render partial: "/spectrum/summon/advanced_search", locals: {path: @active_source == "articles" ? articles_index_path : newspapers_index_path}

.well.well-constraints
  %span.constraints-label You searched for:

  = link_to "Start Over", result.start_over_link, :class => "summon_startOverLink", :id => "startOverLink"
  - result.constraints_with_links.each do |text, link|

    .search-constraint.btn-group
      %button.btn{:disabled => 'true'}=text
      %button.btn=link_to "x", link, :alt => "remove", :class => "btnRemove imgReplace"

- if result.total_items == 0
  %h4 No results found for your search

  
  %h5 Try modifying your search

  %ul
    %li Use fewer keywords to start, then refine your search using the links on the left. Check spelling.
    - unless params['f'].nil?
      %li Your search may be too specific. Try removing one or more elements from your search above, using the x.  

  %h5 If you're looking for books, try:

  %ul
    %li #{link_to 'Borrow Direct', 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0012'}
    %li #{link_to 'WorldCat', 'http://www.columbia.edu/cgi-bin/cul/resolve?AMS7418'}
    %li #{link_to 'CLIO Catalog', 'http://cliobeta.columbia.edu/catalog'}
    %li #{link_to 'CLIO Legacy catalog', 'http://www.columbia.edu/cgi-bin/cul/resolve?clio'}


  %h5 If you're looking for other sources for articles, try:

  %ul
    %li #{link_to 'Google Scholar', 'http://scholar.google.com/scholar?q='}
    %li #{link_to 'CLIO Databases', 'http://cliobeta.columbia.edu/databases'}

  %h5 If Columbia doesn't have the item you're looking for:

  %ul 
    %li Ask for it through #{link_to 'Borrow Direct', 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0012'} or #{link_to 'Interlibrary Loan', 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0014'}
    %li #{link_to 'Ask us to purchase it for the libraries', 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0004'}

  %h5 Ask a librarian:
  %ul
    %li #{link_to 'By chat, email, or phone', 'http://library.columbia.edu/services/askalibrarian.html'}

- else
  #sortAndPerPage.well
    - previous_string = "\u00ab Previous"
    - if result.previous_page?
      =link_to previous_string, result.previous_page_path
    - else
      %span.disabled= previous_string

    %span#current_item_info= " | #{result.start_item} - #{result.end_item} of #{number_with_delimiter(result.total_items)} | "

    - next_string = "Next \u00bb"
    - if result.next_page?
      =link_to next_string, result.next_page_path
    - else
      %span.disabled= next_string

    #per_page-dropdown.dropdown.pull-right.hidden-phone
      %ul.css-dropdown
        %li.btn.btn-link
          =link_to("#{result.page_size} per page")
          %span.caret
          %ul
            - result.page_size_with_links.each do |link, name|
              %li= link_to "#{name} #{content_tag(:span, 'per page', :class =>'hide-text')}".html_safe, link

    #sort-dropdown.dropdown.pull-right.hidden-phone
      %ul.css-dropdown
        %li.btn.btn-link
          =link_to("Sort by #{result.current_sort_name}")
          %span.caret
          %ul
            - result.sorts_with_links.each do |link, name|
              %li= link_to "#{name}", link


