%h1 Listing list_items

%table
  %tr
    %th List
    %th Item key
    %th Sort order
    %th
    %th
    %th

  - @list_items.each do |list_item|
    %tr
      %td= list_item.list_id
      %td= list_item.item_key
      %td= list_item.sort_order
      %td= link_to 'Show', list_item
      %td= link_to 'Edit', edit_list_item_path(list_item)
      %td= link_to 'Destroy', list_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New List item', new_list_item_path
