-# dcv

/ _formats/dcv/_standard_list_item.html.haml
/ container for a SINGLE doc

.result.document{class: render_document_class(document), source: 'dcv', item_id: document.get(:id)}

  .row
    .title.col-sm-12

      .item_anchor
        = render '/item_number', :counter => counter

      .item_number_allowance
        - fedora_id = document['id'].listify.first
        = link_to document.get('title_display_ssm'), APP_CONFIG['dcv_catalog_url'] + document['id']


  / main container for doc partial view

  .details
    = add_row('name_corporate_ssm', document['name_corporate_ssm'])
    = add_row('lib_format_ssm', document['lib_format_ssm'])
    = add_row('lib_project_ssm', document['lib_project_ssm'])



-# -# https://dlc.library.columbia.edu/catalog/ldpd:166321
-# .result_title= link_to document.get('title_display_ssm'), APP_CONFIG['dcv_catalog_url'] + document['id']
-# 
-# 
-# / main container for doc partial view
-# 
-# = add_row('name_corporate_ssm', document['name_corporate_ssm'])
-# = add_row('lib_format_ssm', document['lib_format_ssm'])
-# = add_row('lib_project_ssm', document['lib_project_ssm'])
