.change_view

  = form_tag params[:controller] == "folder" ? folder_index_path : catalog_index_path, :method=>:get, :class=>'per_page' do
    =  label_tag(:view) do 
      Display as #{select_tag(:view, options_for_select([["List", 'list'],["Grid",'grid']],h(params[:view])), :title => "View as either a list or grid", :onchange => 'this.form.submit()').html_safe}
    = search_as_hidden_fields(:omit_keys => [:view]) 
    %noscript
      = submit_tag 'update' 
