#{@params["name"]} (#{@params["email"]}) 
Software: #{APP_CONFIG[:application_name]} v#{RELEASE_STAMP} [#{ENV["RAILS_ENV"]}] 
Page: #{@params["page"]}
:plain

#{@params["comment"]}
:plain

Browser: #{@params["user-agent"]}
