#{@params["name"]} (#{@params["email"]}) for New Arrivals v#{RELEASE_STAMP} [#{ENV["RAILS_ENV"]}] 
:plain 

at #{DateTime.now.to_formatted_s(:long)} on page:
#{@params["page"]}
:plain

#{@params["comment"]}

