#actions-dropdown.dropdown.btn-group
  %a.btn.dropdown-toggle{'data-toggle' => "dropdown", :href => "#"}
    Selected List Items...
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Send to Email", email_savedlist_path(), {:id => "emailLink", :name => "email", :class => "lightboxLink", :onclick => "return appendSelectedToURL(this);"}
<<<<<<< HEAD
    %li= link_to "Export to EndNote", endnote_solr_document_path(:format => 'endnote'), {:id => "endnoteLink", :onclick => "return appendSelectedToURL(this);"}
=======
    %li= link_to "Export Citation(s)", endnote_catalog_path(:format => 'endnote'), {:id => "endnoteLink", :onclick => "return appendSelectedToURL(this);"}
>>>>>>> develop

    %li.nav-divider

    -# Only allow "remove from list" for the owner of the list
    - if current_user && current_user.login == @list.owner
      %li= link_to "Remove from list", "#", :onclick => "removeSelectedFromList( '#{savedlist_remove_path}', #{@list.id} ); return false;"
      %li.nav-divider

    %li= link_to "Select All Items", "#", :onclick => "selectAll(); return false;"
    %li= link_to "Clear All Items", "#", :onclick => "deselectAll(); return false;"



