

#actions-dropdown.dropdown.btn-group
  %a.btn.dropdown-toggle{'data-toggle' => "dropdown", :href => "#"}
    #{verb.capitalize} Selected Items...
    %b.caret
  %ul.dropdown-menu

    %li.nav-header
      To existing list:
    - @all_current_user_lists.each { |other_list|
      - if other_list.name != list.name || other_list.owner != list.owner
      %li= link_to other_list.name, "#", :onclick => "#{verb}SelectedToNamedList('/lists/#{verb}', '#{@list.owner}', '#{list.name}', '#{other_list.name}'); return false;"
    - }

    %li.nav-divider

    %li.nav-header

      To new list:

      %form{:id => 'new_list_form'}
        %input{:name => "name", :type => "text", :value => "", :id => 'new_list_name', :style => "width:100px"}
        %input.btn.btn-default.btn-xs{ :id => 'new_list_submit', :type => "submit", :onclick => "if ( $('#new_list_name').val() != '') { moveSelectedToNamedList('/lists/#{verb}', '#{@list.owner}', '#{@list.name}', $('#new_list_name').val() ) }; return false;" }
