

#actions-dropdown.dropdown.btn-group
  %a.btn.dropdown-toggle{'data-toggle' => "dropdown", :href => "#"}
    Move Selected Items...
    %b.caret
  %ul.dropdown-menu

    %li.nav-header
      To existing list:
    - @all_current_user_lists.each { |other_list|
    %li= link_to other_list.name, "#", :onclick => "moveSelectedToNamedList('#{savedlist_move_path}', '#{list.name}', '#{other_list.name}'); return false;"
    - }

    %li.divider

    %li.nav-header

      To new list:

      %form
        %input{:name => "name", :type => "text", :value => "", :id => 'new_list_name', :style => "width:100px"}
        %input.btn.btn-mini{ :type => "submit", :onclick => "moveSelectedToNamedList('#{savedlist_move_path}', '#{@list.name}', $('#new_list_name').val() ); return false;" }
