
.row-fluid

  .savedlist_control_panel.span3
    = render 'savedlist_control_panel'



  .savedlist_display_list.span9

    %p.lead= @list.display_name

    %p= @list.description

    .list_url_display
      %strong URL:
      %span.lead= get_full_url(@list)
      = get_permissions_label(@list.permissions)

    %br

    .sortAndPerPage.btn-toolbar
      = render 'move_items'
      = render 'list_actions_widget'
      <!-- = render 'sort_widget' -->

    #documents
      - @document_list.each do |document|
        - if document.instance_of?(Summon::Document)
          = render_document_view(document, :format => 'article', :template => 'summon')
        - if document.instance_of?(SolrDocument)
          = render_document_view(document, :format => 'clio', :template => 'catalog_list', :counter => nil)

      -# - @catalog_document_list.each do |document|
      -#   = render_document_view(document, :format => 'clio', :template => 'catalog_list', :counter => nil)

