-# SAVED_LISTS/SHOW - build the main dispaly page of Saved Lists

.row-fluid

  .savedlist_control_panel.span3
    = render 'savedlist_control_panel'


  .savedlist_display_list.span9

    .row-fluid
      .span2
        %strong List Name:
      .span10
        %span.lead= @list.display_name
        &nbsp; &nbsp;
        - if current_user && current_user.login == @list.owner
          %span.saved_list_header=link_to "edit list details", edit_saved_list_path(@list)
        -# - else
        -#   (owner: #{@list.owner})

    - unless @list.description.empty?
      .row-fluid
        .span2
          %strong Description:
        .span10
          %span.lead= @list.description

    .row-fluid
      .span2
        %strong URL:
      .span10
        %span.lead= get_full_url(@list)
        &nbsp; &nbsp;
        = get_permissions_label(@list.permissions)

    -# .saved_list_header
    -#   %span.saved_list_key
    -#     %strong List Name:
    -#   %span.lead= @list.display_name
    -#   - if current_user && current_user.login == @list.owner
    -#     %span.saved_list_header=link_to "edit list details", edit_saved_list_path(@list)
    -#
    -# - if @list.description
    -#   .saved_list_header
    -#     %span.saved_list_key
    -#       %strong Description:
    -#     %span.lead= @list.description
    -#
    -# .saved_list_header
    -#   %strong.saved_list_key URL:
    -#   %span.lead= get_full_url(@list)
    -#   = get_permissions_label(@list.permissions)


    .sortAndPerPage.btn-toolbar
      - if current_user.login == @list.owner
        = render 'move_or_copy_items', :list => @list, :verb => 'move'
      - elsif current_user
        = render 'move_or_copy_items', :list => @list, :verb => 'copy'
      = render 'list_actions_widget'

    #documents.saved_list_documents
      - @document_list.each do |document|
        - if document.instance_of?(Summon::Document)
          -# - raise
          = render_document_view(document, :format => 'article', :template => 'summon')
        - if document.instance_of?(SolrDocument)
          -# Need to specify the source for these documents - the
          -# current @active_source is not meaningful within lists
          = render_document_view(document, :format => 'clio', :template => 'catalog_list', :counter => nil, :source=>'catalog')

