#landing_pages
  = datasource_landing_page("Quicksearch") do 
    %h2 Quicksearch here

  = datasource_landing_page("Catalog") do
    
    %h2 Catalog here

  = datasource_landing_page("Articles") do
    %h2 Articles here

  = datasource_landing_page("eBooks") do
    %h2 eBooks here

  = datasource_landing_page("New Arrivals") do
    %h2 New Arrivals here.
