<%= link_to "back", logs_path %>
<h3>
<%= @set%> Logs are available for the following months
</h3>


<!-- Print a table for each year -->
<% @year_counts.each do |year, count| %>
  <table class='table table-striped table-hover table-condensed log-datatable'>
    <thead>
      <tr>
        <th colspan='6'>
          <span class='h4'><%= year%></span>
          - overall log entries: <%= count%>, monthly breakdown below
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <% label = "( download csv #{download_glyph})"%>
          <%#= link_to '( download csv )', logs_path(set: @set, download: year, format: 'csv') %>
          <%= link_to download_label, logs_path(set: @set, download: year, format: 'csv') %>
          
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% ('1'..'6').each do |month| %>
          <td>
            <% next unless @month_counts["#{year}-#{month}"]%>
            <% year_month = "#{year}-#{month}"%>
            <% link_label = "#{year_month} - #{@month_counts["#{year}-#{month}"]}" %>
            <span class='h5'>
              <%= link_to link_label, logs_path(set: @set, year_month: year_month) %>
            </span>
            &nbsp;
            <%= link_to download_label(''), logs_path(set: @set, download: year_month, format: 'csv') %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% ('7'..'12').each do |month| %>
          <td>
            <% next unless @month_counts["#{year}-#{month}"]%>
            <% year_month = "#{year}-#{month}"%>
            <% link_label = "#{year_month} - #{@month_counts["#{year}-#{month}"]}" %>
            <span class='h5'>
              <%= link_to link_label, logs_path(set: @set, year_month: year_month) %>
            </span>
            &nbsp;
            <%= link_to download_label(''), logs_path(set: @set, download: year_month, format: 'csv') %>
          </td>
        <% end %>
      </tr>
    </tbody>

  </table>
<% end %>


