#helpModal.modal.hide.fade{:tabindex => '-1'}
  .modal-header
    %a.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    %h3 Help
  .modal-body
    #success_message.hide
      %h4 Message sent successfully
    #select_a_help_issue
      %h4.text-info What do you need help with?

      %ul.unstyled.help-items
        %li
          %a(href="#helptab_feedback" data-toggle="tab") I have problems on / feedback about this website.
        %li
          %a(href="#helptab_ask_a_librarian" data-toggle="tab") I need to ask a librarian something.
        %li
          %a(href="#helptab_report_problem" data-toggle="tab") I've found a problem with a resource / book.
    
    #helptab_content.tab-content
      #helptab_feedback.tab-pane 
        %h4.text-info Problems / Feedback 

        = form_tag '', :class => 'form-horizontal' do
          = hidden_field_tag :version, RELEASE_STAMP
          = hidden_field_tag :product, APP_CONFIG['application_name']
          = hidden_field_tag :page, request.url
          = hidden_field_tag :user_agent, request.user_agent
          .control-group
            %label.control-label(for="name") Name
            .controls
              = text_field_tag :name, "", :placeholder => "Name"
          .control-group
            %label.control-label(for="email") Email
            .controls
              - default_email = current_user ? "#{current_user.login}@columbia.edu" : ""
              = text_field_tag :email, default_email, :placeholder => "Email"
          .control-group
            %label.control-label(for="email") Page You Were On
            .controls
              .control-text= request.url.to_s.abbreviate(50)
          .control-group
            %label.control-label(for="email") Message
            .controls
              = text_area_tag :message, "", :rows => 4, :cols => 60
          .return-to-index
            %btn.btn.btn-info.return Return To Help Index
            %btn.btn.btn-primary.submit(type="submit" data-loading-text="Sending #{image_tag("ajax-loader.gif")}") Send
      #helptab_ask_a_librarian.tab-pane
        %h4.text-info Ask a librarian
      #helptab_report_problem.tab-pane
        %h4.text-info Resource / Book problem


