#aggregate_search
  = form_tag search_index_path, :method => :get do 
    #search_row
      = text_field_tag :q, params[:q], :class => "q" 
      = submit_tag 'search', :class=>'submit'
    #search_categories
      = check_box_tag "categories[]", "catalog", params[:categories].include?("catalog")
      = label_tag(:categories, "Catalog")
      = check_box_tag "categories[]", "articles", params[:categories].include?("articles")
      = label_tag(:categories, "Articles")
      = check_box_tag "categories[]", "lweb", params[:categories].include?("lweb")
      = label_tag(:categories, "Library Web")



