- if controller.controller_name == 'search'
  #aggregate_search
    = form_tag search_index_path, :method => :get do 
      #search_row
        = text_field_tag :q, params[:q], :class => "q" 
        = submit_tag 'search', :class=>'submit'
      #search_categories
        = check_box_tag "categories[]", "catalog", params[:categories].include?("catalog")
        = label_tag(:categories, "Catalog")
        = check_box_tag "categories[]", "articles", params[:categories].include?("articles")
        = label_tag(:categories, "Articles")
        = check_box_tag "categories[]", "ebooks", params[:categories].include?("ebooks")
        = label_tag(:categories, "HathiTrust eBooks")
        = check_box_tag "categories[]", "lweb", params[:categories].include?("lweb")
        = label_tag(:categories, "Library Web")
- else
  #articles_search
    = form_tag article_search_path(), :method => :get do
      = hidden_field_tag 'category', params['category'] || 'articles'
      - unless @error

        - @summon.search.query.to_hash.each_pair do |key,value|
          - if value.kind_of?(Array)
            - value.each do |subvalue|
              = hidden_field_tag "#{key}[]", subvalue 
          - else
            = hidden_field_tag key, value

      #search_row
        = text_field_tag 's.q', params['s.q'], :class => "q"
        = submit_tag 'Search', :class => 'submit'
      #search_categories
        = radio_button_tag "new_search", '', !@new_search 
        Keep search refinements
        = radio_button_tag "new_search", 'true', @new_search 
        New search

