#cu_top
  #cu_inner_right
    - if current_user
      #{current_user.name} (#{current_user.login})
      = link_to "Logout", destroy_user_session_path, :method => :delete 
    - else 
      = link_to "Login", new_user_session_path
  #cu_inner
    = link_to "CU Home", "http://columbia.edu" 
    >
    = link_to "Libraries Home", "http://library.columbia.edu"
    >
    CLIO Beta
    = link_to "(Return to CLIO)", "http://www.columbia.edu/cgi-bin/cul/resolve?clio"
