= display_search_box('Quicksearch') do 
  = form_tag search_index_path, :method => :get do 
    .search_row
      = text_field_tag :q, params[:q], :class => "q", :id => "quicksearch_q", :placeholder => "(Catalog, Articles, Academic Commons, Library Web Search)"
      %button{:type => 'submit', :class => 'submit', :name => 'commit', :value => 'Search'} Search

= display_search_box('eBooks') do 
  = form_tag search_ebooks_path, :method => :get do 
    .search_row
      = text_field_tag :q, params[:q], :class => "q", :id => "e_books_q", :placeholder => "(eBooks Search)"
      %button{:type => 'submit', :class => 'submit', :name => 'commit', :value => 'Search'} Search


= display_search_box('Catalog') do
  = form_tag base_catalog_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => ["q","with_options"], :id => "catalog_q", :placeholder => "(Catalog Search)"
      = select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") 
      
      = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :categories]).html_safe         
      
      %button{:id => 'catalog_search', :type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 


= display_search_box('Articles') do 
  = form_tag articles_search_path(), :method => :get do
    = hidden_field_tag 'category', params['category'] || 'articles'
    - if @error || @summon.nil?
      = hidden_field_tag "new_search", "articles"
    - else

      - @summon.search.query.to_hash.each_pair do |key,value|
        - if value.kind_of?(Array)
          - value.each do |subvalue|
            = hidden_field_tag "#{key}[]", subvalue 
        - else
          = hidden_field_tag key, value

    .search_row
      = text_field_tag 's.q', params['s.q'], :class => "q", :id => "articles_q", :placeholder => "(Articles Search)"
      %button{:type => 'submit', :class => 'submit', :name => 'commit', :value => 'Search'} Search
      -##search_categories
        = radio_button_tag "new_search", '', !@new_search 
        Keep search refinements
        = radio_button_tag "new_search", 'true', @new_search 
        New search

= display_search_box('Archives') do
  = form_tag archives_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => ["q","with_options"], :id => "archives_q", :placeholder => "(Archives Search)"
      = select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") 
      
      = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :categories]).html_safe         
      
      %button{:id => 'archives_search', :type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 

= display_search_box('Databases') do
  = form_tag databases_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => ["q"], :id => "databases_q", :placeholder => "(Databases Search)"
      = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :categories]).html_safe         
      
      %button{:id => 'databases_search', :type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 

= display_search_box('Library Web') do
  = form_tag library_web_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => "q", :id => "library_web_q", :placeholder => "(Library Web Search)"
      
      
      %button{:id => 'library_web_search', :type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 

= display_search_box('Academic Commons') do
  = form_tag academic_commons_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => ["q","with_options"], :id => "academic_commons_q", :placeholder => "(Academic Commons Search)"

      = select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") 
      
      = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :categories]).html_safe         
      
      %button{:id => 'academic_commons_search', :type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 

= display_search_box('New Arrivals') do
  = form_tag new_arrivals_index_path, :method => :get do
    .search_row
      = text_field_tag :q, params[:q], :class => ["q","with_options"], :id => "new_arrivals_q", :placeholder => "(New Arrivals Search)"
      = hidden_field_tag "f[acq_date_facet][]" , "Last 3 Months"
      = hidden_field_tag "active_source", "New Arrivals"
      = select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") 
      
      = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :categories]).html_safe         
      
      %button{:type => 'submit', :class => 'submit', :name => 'commit', :value => 'search'} Search 
