- cache("top_navigation_bar_#{current_user}", expires_in: 1.day) do

  #topnavbar.navbar.navbar-default.navbar-static-top{data: {'ga-action' => 'Top NavBar Click'} }
    .container
      .navbar-header
        %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand.visible-xs{href: '#'}= "CLIO"

      .navbar-collapse.collapse
        %ul#crowndown-nosearch.nav.navbar-nav
          = render :partial => "/top_nav/crown_menu"
        %ul.nav.navbar-nav.navbar-right
          = render :partial => "/top_nav/ask_a_librarian"
          = render :partial => "/top_nav/login_menu"
          = render :partial => "/top_nav/help_menu"
       



  -# .header{:data => {'ga-action' => 'Top NavBar Click'} }
  -# 
  -#   %h1.hide CUL - Header
  -# 
  -#   %nav#topnavbar.navbar.navbar-default
  -#     #navbar-container.container.fill
  -# 
  -#       #cul_top-nosearch.collapse.navbar-collapse
  -# 
  -#         %ul#crowndown-nosearch.nav.navbar-nav.navbar-left
  -#           = render :partial => "/top_nav/crown_menu"
  -# 
  -#         %ul.nav.navbar-nav.navbar-right
  -#           = render :partial => "/top_nav/login_menu"
  -#           = render :partial => "/top_nav/help_menu"

                

-# Bootstrap's Static Navbar example
-# 
-# http://getbootstrap.com/examples/navbar-static-top/
-# 
-#    # <!-- Static navbar -->
-#    # <div class="navbar navbar-default navbar-static-top" role="navigation">
-#    #   <div class="container">
-#    #     <div class="navbar-header">
-#    #       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
-#    #         <span class="sr-only">Toggle navigation</span>
-#    #         <span class="icon-bar"></span>
-#    #         <span class="icon-bar"></span>
-#    #         <span class="icon-bar"></span>
-#    #       </button>
-#    #       <a class="navbar-brand" href="#">Project name</a>
-#    #     </div>
-#    #     <div class="navbar-collapse collapse">
-#    #       <ul class="nav navbar-nav">
-#    #         <li class="active"><a href="#">Home</a></li>
-#    #         <li><a href="#about">About</a></li>
-#    #         <li><a href="#contact">Contact</a></li>
-#    #         <li class="dropdown">
-#    #           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
-#    #           <ul class="dropdown-menu" role="menu">
-#    #             <li><a href="#">Action</a></li>
-#    #             <li><a href="#">Another action</a></li>
-#    #             <li><a href="#">Something else here</a></li>
-#    #             <li class="divider"></li>
-#    #             <li class="dropdown-header">Nav header</li>
-#    #             <li><a href="#">Separated link</a></li>
-#    #             <li><a href="#">One more separated link</a></li>
-#    #           </ul>
-#    #         </li>
-#    #       </ul>
-#    #       <ul class="nav navbar-nav navbar-right">
-#    #         <li><a href="../navbar/">Default</a></li>
-#    #         <li class="active"><a href="./">Static top</a></li>
-#    #         <li><a href="../navbar-fixed-top/">Fixed top</a></li>
-#    #       </ul>
-#    #     </div><!--/.nav-collapse -->
-#    #   </div>
-#    # </div>
-# 
