= render :partial => "/help_modal"
%header
  %h1.hide CUL - Header
  #topnavbar.navbar.navbar-fixed-top
    .navbar-inner.fill
      #navbar-container.container-fluid
        .row-fluid
          %nav
            #cul_top-nosearch.span12
              .row-fluid
                .span12
                  %ul#crowndown-nosearch.nav.pull-left
                    %li.dropdown.menu
                      %a.dropdown-toggle.menu{"data-toggle" => "dropdown", :href => "#", :title => "Links @ Columbia"}
                        %span.topbarlogo
                          %span.visible-phone CLIO
                          %span.hidden-phone Columbia University Libraries
                          %b.caret
                      %ul.dropdown-menu.menu-dropdown
                        %li
                          %a{:href => "http://columbia.edu"} Columbia University - Home
                        %li
                          %a{:href => "http://library.columbia.edu"} Libraries - Home
                        %li.divider
                        %li
                          %a{:href => "#"}
                            %i.icon-time.icon-white
                            Library Hours
                        %li
                          %a{:href => "#"}
                            %i.icon-question-sign.icon-white
                            Ask a Librarian
                        %li
                          %a{:href => "#"}
                            %i.icon-heart.icon-white
                            Alumni & Friends
                        %li
                          %a{:href => "#"}
                            %i.icon-briefcase.icon-white
                            Job Seekers
                        %li
                          %a{:href => "#"}
                            %i.icon-plane.icon-white
                            Visitors
                        %li.divider
                        %li
                          %a{:href => "#"}
                            %i.icon-info-sign.icon-white
                            FAQ
                        %li
                          %a{:href => "#"}
                            %i.icon-flag.icon-white
                            Help
                        %li.divider
                        %li
                          %a{:href => "#", :title => ""} About Us
                        %li
                          %a{:href => "#", :title => ""} News & Events
                        %li
                          %a{:href => "#", :title => ""} Suggestions/Feedback
                  %ul.nav.pull-right
                    - if current_user
                      %li.dropdown.menu
                        %a.dropdown-toggle.menu{"data-toggle" => "dropdown", :href => "#"}
                          %span.visible-phone 
                            #{current_user.login}
                            %b.caret
                          %span.hidden-phone 
                            #{current_user.name} (#{current_user.login})
                            %b.caret
                        %ul.dropdown-menu.menu-dropdown
                          %li= link_to "Library Account", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087"
                          %li= link_to "Logout", destroy_user_session_path, :method => :delete 
                    - else
                      %li.dropdown.menu
                        %a.dropdown-toggle.menu{"data-toggle" => "dropdown", :href => "#"}
                          My Account
                          %b.caret
                        %ul.dropdown-menu.menu-dropdown
                          %li= link_to "Library Account", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087"
                          %li= link_to "Login", new_user_session_path
                    
                    %li
                      %a.help-button(data-toggle="modal" href="#helpModal") Feedback / Help
