-# spectrum/_single.html.haml
-# Search-Results page for Library Web search


-# .row

-# This partial is only for Library Web Search, with a layout defined in
-# searches.yml that'll never ever ever have more than a single column.
- @search_layout['columns'].each do |column|
  -# %div.result_column
  - column['searches'].each do |search|
    - result = @results[search['source']]
    - if result.successful?
      - source = SEARCHES_CONFIG['sources'][search['source']]
      - warning = source ? source['warning'] : nil;
      = render partial: '/datasource_warning', locals: {warning: warning}
  
      -# .result_set
      = render partial: '/spectrum/single/constraints', locals: {result: result}
      
      - if result.total_items == 0
        = render partial: '/spectrum/single/no_results_blurb', locals: {result: result}
      - else
        = render partial: '/spectrum/single/index_toolbar', locals: {result: result}
      
        #documents{:data => {'ga-action' => 'Search Results Click'} }
          = render partial: "/spectrum/single/result_docs", locals: {result: result, render_opts: search_render_options(search, source), row_opts: search['row_opts']}
        = render partial: '/spectrum/single/index_toolbar', locals: {result: result}
      
  
    - else
      .result_error
        %h5 There was an error searching this datasource. (#{result.errors})
  