.row-fluid
  - @search_layout['columns'].each do |column|
    %div.result_column
      - column['searches'].each do |search|
        - result = @results[search['source']]
        - if result.successful?
          - source = SEARCHES_CONFIG['sources'][search['source']]
          .result_set
            = render partial: '/spectrum/summon/constraints', locals: {result: result}

            - if result.total_items == 0
              = render partial: '/spectrum/summon/no_results_blurb', locals: {result: result}
            - else
              = render partial: '/spectrum/summon/sorting_paging', locals: {result: result}
              #documents= render partial: "/spectrum/summon/result_docs", locals: {result: result, render_opts: search_render_options(search, source), row_opts: search['row_opts']}
              = render partial: '/spectrum/summon/sorting_paging', locals: {result: result}


            - sidebar_items << render(partial: "/spectrum/summon/facets", locals: {result: result})
        - else
          .result_error Error when searching: #{result.errors}


