
.well
  .h4{style: 'margin:0'}
    Checked Out Items

  %h5
    -# @label is set in SpectrumController#checked_out_items()
    #{@label} #{pluralize(@checked_out_items.size, 'item')} checked out 
    (as of #{Time.now.strftime('%m/%d/%Y %H:%M%P')})

  Visit 
  %b
    // = link_to "My Borrowing Account", "https://resolver.library.columbia.edu/lweb0087", :target => "_blank"
    = link_to "My Borrowing Account", my_account_index_path
  to Renew materials, see fines, and for other account details
  -# for further details and services
    

#documents

  - @checked_out_items.each_with_index do |item, index|
    - counter = index + 1

    .result.document

      .row
        .title.col-sm-12

          %span.coins_wrapper
            <!-- COinS -->
            %span.Z3988{:title => voyager_to_openurl_ctx_kev(item)}

          .item_anchor
            = render '/item_number', :counter => counter

          .item_number_allowance
            = item[:title].gsub(/[\/\s]+$/, '')
  
      .row
        -# = add_row('Title', item[:title])
        = add_row('Author', item[:author])
        = add_row('Publisher', item[:pub_name])
        = add_row('Publication Date', item[:pub_date])
        = add_row('Publication Place', item[:pub_place])

