%h1 Listing admin_database_alerts

%table
  %tr
    %th Clio
    %th Author
    %th Active
    %th Message
    %th
    %th
    %th

  - @admin_database_alerts.each do |admin_database_alert|
    %tr
      %td= admin_database_alert.clio_id
      %td= admin_database_alert.author_id
      %td= admin_database_alert.active
      %td= admin_database_alert.message
      %td= link_to 'Show', admin_database_alert
      %td= link_to 'Edit', edit_admin_database_alert_path(admin_database_alert)
      %td= link_to 'Destroy', admin_database_alert, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Database alert', new_admin_database_alert_path
