.container.infowindow{class: "#{library_info['locationID']}"}
  .row
    .col-md-12
      %br
      %strong
        = library_info['displayName'].present? ? library_info['displayName'] : library_info['officialName']
      %br
  .row
    .col-md-6
      - if library_info['floorRoom']
        = library_info['floorRoom']
      - if library_info['building']
        = library_info['building']
        %br
      - if library_info['address1']
        = library_info['address1']
      - if library_info['address2']
        = library_info['address2']
        %br
      = "#{library_info['city']}, #{library_info['state']}  #{library_info['zip']}"
      %br
      %br
        = "Telephone: #{library_info['phone']}"
    .col-md-6
      - image_path =library_info['imagePath'].present? ? "https://library.columbia.edu/#{library_info['imagePath']}" : default_image_path
      %img{src: image_path, class: "img-responsive"} 
      %br



