.container{style: 'max-width: 400px'}
  .row
    .col-md-6
      %br
      %address
        %strong
          = library_info['displayName']
        %br
        - if library_info['address1']
          = library_info['address1']
        - if library_info['address2']
          = library_info['address2']
          %br
        = "#{library_info['city']}, #{library_info['state']}  #{library_info['zip']}"
        %br
        %br
          = "Telephone: #{library_info['phone']}"
    .col-md-6
      %img{src: "http://library.columbia.edu/#{library_info['imagePath']}", class: "img-responsive"}



