
%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%title= h(@page_title || application_name)
= csrf_meta_tag
%link{:rel => "shortcut icon", :href => image_path("favicon-crown.png"), :type => "image/x-icon"}/
%link{:rel => "apple-touch-icon", :href => image_path("apple-touch-icon-144x144.png"), :type => "image/x-icon"}/

= stylesheet_link_tag "application", :media => 'all'

-# Insert any content passed to content_for(:head)
= yield :head


-# Move to bottom (_end_body)
-# 
-# -# Pass Rails variables to Javascript via simple global assignment
-# :javascript
-#   clio_backend_url = "#{APP_CONFIG['clio_backend_url']}";
-#   google_analytics_web_property_id = "#{GoogleAnalytics.web_property_id}";
-# 
-# = javascript_include_tag "application"
-# 
-# = yield(:jstemplates)



-# - if GoogleAnalytics.web_property_id
-#   :javascript
-#     var _gaq = _gaq || [];
-#     _gaq.push(['_setAccount', '#{GoogleAnalytics.web_property_id}']);
-#     _gaq.push(['_setSiteSpeedSampleRate', 100]);
-#     _gaq.push(['_trackPageview']);
-# 
-#     (function() {
-#       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
-#       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
-#       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
-#     })();



