%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%title= h(@page_title || application_name)
-#%link{:href => opensearch_catalog_path, :rel => "search",  :title => application_name, :type => "application/opensearchdescription+xml"}/
= csrf_meta_tag
%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
= javascript_tag "var RAILS_ROOT = '#{ActionController::Base.config.relative_url_root}'; google.load('books','0'); "
= stylesheet_link_tag "application"
= javascript_include_tag "application"
= stylesheet_link_tag "/contactable/contactable"
= javascript_tag "$(function(){ $('#contact').contactable({ subject: 'A Feedback Message'});});"
= stylesheet_link_tag "print", :media => :print
= yield(:jstemplates)
:javascript

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23040667-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
