-# Should be at the very end of body

/
/ begin _common_tail 
/


-# Pass Rails variables to Javascript via simple global assignment
:javascript
  clio_backend_url = "#{APP_CONFIG['clio_backend_url']}";
  google_analytics_web_property_id = "#{GoogleAnalytics.web_property_id}";

= javascript_include_tag 'application'

-# ECMAScript 6 syntax breaks in capybara-webkit testing and in any IE browser
= javascript_include_tag 'es6_bits' unless Rails.env.test? or browser.ie?

= yield(:jstemplates)

- if current_user
  - if request.path.starts_with?('/lists') || request.path.starts_with?('/admin')
    -# = auto_session_timeout_js frequency: 5
    = auto_session_timeout_js

/
/ end _common_tail 
/
