%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%title= h(@page_title || application_name)
= csrf_meta_tag
%link{:rel => "shortcut icon", :href => image_path("favicon-crown.png"), :type => "image/x-icon"}/
%link{:rel => 'unapi-server', :title => 'unAPI', :type => 'application/xml', :href => unapi_url}

= stylesheet_link_tag "application", :media => 'all'
= javascript_include_tag "application"
= yield(:jstemplates)
- if BlacklightGoogleAnalytics.web_property_id
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{BlacklightGoogleAnalytics.web_property_id}']);
    _gaq.push(['_setSiteSpeedSampleRate', 100]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


