!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  %body{:onload => onload}
    - add_datasources(@active_source)
    #trigger
    #page
      = render :partial => "/articles/header_with_search"
      #bd
        #main
          #main_container
            = render :partial=>'/flash_msg'
            = yield
        #sidebar= sidebar_items.join('').html_safe
        .clear-both
      = render :partial => "/footer"
    = render :partial => "/feedback_form"
