!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  %body{:onload => onload}
    #ajax-modal.modal.hide.fade{:tabindex => -1}
    - add_datasources(@active_source)
    #trigger
    = render :partial => "/top_navigation_bar"
    #page.container-fluid
      = render :partial => "/header"
      #bd.row-fluid
        #sidebar.hidden-phone.span3= sidebar_items.join('').html_safe
        #main.span9
          .row-fluid
            = render :partial=>'/flash_msg'
            = yield

        .clear-both  
      = render :partial => "/footer"
