!!!
%html.blank_layout{:xmlns=>"http://www.w3.org/1999/xhtml"}

  %head
    %meta{"http-equiv"=>"Content-Type","content"=>"text/html; charset=utf-8"}
    %title=(@page_title || application_name)
    %link{:href=>url_for(:controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false), :title=>application_name, :type=>"application/opensearchdescription+xml", :rel=>"search"}

    

    = render_head_content
    = stylesheet_link_tag "compiled/application"
    = javascript_include_tag "application"
    = javascript_tag "var RAILS_ROOT = '#{ActionController::Base.relative_url_root}';"

    
    = yield(:jstemplates)


  %body.blank_layout
    = yield
