!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}

  %head
    = render :partial => "/layouts/common_head"
    = stylesheet_link_tag "application"


  %body.blank_layout
    = yield

    = render :partial => "/layouts/common_tail"

    // Javascript from Google to work against Maps API
    %script{src: "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", type: "text/javascript"}
    %script{src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type: 'text/javascript'}

    // Local Javascript for this layout only.
    // The google_map JS file requires in a few other
    // things itself to take care of it's dependencies.
    = javascript_include_tag 'location'

