-# coding: UTF-8
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  %body{:onload => onload, data: {'environment' => "#{ENV['RAILS_ENV']}"} }

    / Layout:  no_sidebar

    -# BLACKLIGHT 4
    -# -# Used by Blacklight's lightbox dialog
    -# #ajax-modal.modal.hide.fade{:tabindex => -1}
    - add_datasources(@active_source)
    #trigger
    = render :partial => "/top_navigation_bar"
    #outer-container.container
      -# #page.container
      = render :partial => "/header_with_search"

      -# #bd.row
      #bd_lede.row
        .search_logo.hidden-xs.col-sm-3
          = link_to "CLIO", root_path, :class => "nav_title search_bar_logo"
        / div.search_logo end
        .col-sm-9
          = display_search_boxes(@active_source)
        / div.col-sm-9 end
      
      .row
        = render :partial=>'/layouts/messages'
      / div.row end
      = yield
      
      .clear-both
      / div.clear-both end
      
      = render :partial => "/footer"
    
    -# BLACKLIGHT 5
    -# Used by Blacklight for Bootstrap modals
    #ajax-modal.modal.fade{tabindex: -1}
      .modal-dialog
        .modal-content

    = render :partial => "/layouts/common_tail"
