!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= h(@page_title || application_name)
    %link{:href => url_for(:controller=>'catalog',:action => 'opensearch'), :format => 'xml', :only_path => false, :rel => "search", :title => application_name, :type => "application/opensearchdescription+xml"}/
    = csrf_meta_tag
    = javascript_include_tag "jquery_snippet.js"
    = render_head_content
    = stylesheet_link_tag "compiled/application"
    %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "colorbox/colorbox"
    = javascript_include_tag "jquery.colorbox-min"
    = javascript_tag "var RAILS_ROOT = '#{ActionController::Base.relative_url_root}'; google.load('books','0'); "
    = javascript_include_tag "/contactable/jquery.validate.pack.js"
    = javascript_include_tag "/contactable/jquery.contactable.js"
    = javascript_tag "$(function(){ $('#contact').contactable({ subject: 'A Feedback Message'});});"
    = yield(:jstemplates)
    - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  %body{:onload => onload}
    #doc4
      #hd
        .yui-g
          .yui-u.first
            %h1.site_title
              = link_to application_name, root_path
              = (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : ""
          .yui-u
            = render :partial => "/user_util_links"
      #bd
        #yui-main
          .yui-b
            = render :partial=>'/flash_msg'
            = yield
      #ft= @footer
    = render :partial => "/feedback_form"
