-# coding: UTF-8
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  - search_params = determine_search_params
  %body{:onload => onload}
    - add_datasources(@active_source)
    #trigger
    = render :partial => "/top_navigation_bar"
    #page.container-fluid

      = render :partial => "/header_with_search"
      #bd.row-fluid
        .sidebar{:class => sidebar_span}
          .search_logo.hidden-phone
            = link_to "CLIO", root_path, :class => "nav_title search_bar_logo"
          #sources
            = sidebar_items.join('').html_safe
        #main_with_sources{:class => main_span}
          .row-fluid
            - unless @show_landing_pages
              = display_search_boxes(@active_source)
        
            = render :partial=>'/layouts/messages'
            = yield

        .clear-both  
      = render :partial => "/footer"
    #ajax-modal.modal.hide.fade{:tabindex => -1}
