-# coding: UTF-8
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  -# - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  -# - search_params = determine_search_params
  -# %body{:onload => "$('input#q').focus();"}
  %body
    - add_datasources(@active_source)

    -# #trigger
    = render :partial => "/top_navigation_bar"
    #outer-container.container
      #page

        = render :partial => "/header_with_search"

        #bd.row
          .sidebar.hidden-print{:class => sidebar_span}
            .search_logo.hidden-xs
              = link_to "CLIO", root_path, :class => "nav_title search_bar_logo"
            #sources
              = clio_sidebar_items.join('').html_safe
          #main_with_sources{:class => main_span}
            - unless @show_landing_pages
              = display_search_boxes(@active_source)

            = render :partial=>'/layouts/messages'
            = yield

          .clear-both

        = render :partial => "/footer"

    -# BLACKLIGHT 4
    -# -# Used by Blacklight's lightbox dialog
    -# #ajax-modal.modal.hide.fade{:tabindex => -1}

    -# BLACKLIGHT 5
    -# Used by Blacklight for Bootstrap modals
    #ajax-modal.modal.fade{tabindex: -1}
      .modal-dialog
        .modal-content

    -# "Busy" box, loaded hidden, made visible when user-triggered action
    -# will take a few moments to load a new page.
    -# Used by, e.g., NEXT-836 - Can't uncheck multiple options at the same time
    .busy.row
      .col-sm-4
        %img.busy-image{:src => image_path("ajax-loader.gif")}
      .col-sm-8
        .busy-text Updating...

    = render :partial => "/layouts/common_tail"


