!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    = render :partial => "/layouts/common_head"
  - onload = (params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?) ? "$('input#q').focus();" : ""
  %body{:onload => onload}
    - add_datasources(@active_source)
    #trigger
    #cu_top
      #cu_inner
        <a href="http://columbia.edu">CU Home</a> &gt; <a href="http://library.columbia.edu">Libraries Home</a> &gt; <a href="http://columbia.edu/clio">CLIO</a>
        #cu_inner_right
          something | something | something
    #page
      = render :partial => "/header_with_search"
      #bd
        #sources= sidebar_items.join('').html_safe
        #main_with_sources
        
          = render :partial=>'/flash_msg'
          = yield

        .clear-both  
      = render :partial => "/footer"
    = render :partial => "/feedback_form"
